workflows/n8n/0A-health-monitor_66HEjQavpvirY6g5.json
{
  "updatedAt": "2026-03-20T05:16:50.112Z",
  "createdAt": "2026-03-20T05:16:50.112Z",
  "id": "66HEjQavpvirY6g5",
  "name": "0A-health-monitor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -180
      ],
      "parameters": {}
    },
    {
      "id": "trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "id": "check-api",
      "name": "Check Trading Forge API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -220
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:4000/api/health",
        "options": {
          "timeout": 10000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "check-openclaw",
      "name": "Check OpenClaw Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -70
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:18789/health",
        "options": {
          "timeout": 10000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "check-ollama",
      "name": "Check Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        80
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:11434/api/tags",
        "options": {
          "timeout": 10000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "check-discord",
      "name": "Check Discord Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        230
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:4100/health",
        "options": {
          "timeout": 10000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "merge-core",
      "name": "Merge Core Health",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        500,
        -150
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "merge-integrations",
      "name": "Merge Integration Health",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        500,
        150
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "merge-all",
      "name": "Merge All Health Checks",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        730,
        0
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "evaluate",
      "name": "Evaluate Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        0
      ],
      "parameters": {
        "jsCode": "const services = [\n  { name: 'Trading Forge API', port: 4000, critical: true, result: $('Check Trading Forge API').first() },\n  { name: 'OpenClaw Gateway', port: 18789, critical: false, result: $('Check OpenClaw Gateway').first() },\n  { name: 'Ollama', port: 11434, critical: false, result: $('Check Ollama').first() },\n  { name: 'Discord Bot', port: 4100, critical: false, result: $('Check Discord Bot').first() },\n];\n\nfunction inspectService(service) {\n  const json = service.result?.json ?? {};\n  const error = json.error || json.message || json.errorMessage || json.description || null;\n  const code = json.code || json.errorCode || json.statusCode || null;\n  const healthy = !error && (\n    json.status === 'ok'\n    || json.connected === true\n    || Array.isArray(json.models)\n  );\n\n  return {\n    name: service.name,\n    port: service.port,\n    critical: service.critical,\n    healthy,\n    status: json.status ?? (healthy ? 'ok' : 'error'),\n    error: error || (healthy ? null : code || 'no response'),\n  };\n}\n\nconst inspected = services.map(inspectService);\nconst failures = inspected.filter((service) => !service.healthy);\n\nreturn [{\n  json: {\n    allHealthy: failures.length === 0,\n    failureCount: failures.length,\n    failures: failures.map((service) => `${service.name} (port ${service.port}): ${service.error}`),\n    services: inspected,\n    checkedAt: new Date().toISOString(),\n  },\n}];"
      }
    },
    {
      "id": "check-failures",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1170,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.failureCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "create-alert",
      "name": "Create Health Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        0
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/alerts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: 'health_monitor',\n  severity: 'critical',\n  title: 'Trading Forge health monitor detected service degradation',\n  message: $json.failures.join(' | '),\n  metadata: {\n    checkedAt: $json.checkedAt,\n    failureCount: $json.failureCount,\n    services: $json.services,\n  },\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "err-trigger",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        420
      ],
      "parameters": {}
    },
    {
      "id": "err-alert",
      "name": "Create Workflow Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        420
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/alerts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: 'workflow_error',\n  severity: 'critical',\n  title: '0A-health-monitor failed',\n  message: $json.execution?.error?.message || $json.error?.message || 'Unknown workflow error',\n  metadata: {\n    workflow: '0A-health-monitor',\n    timestamp: new Date().toISOString(),\n  },\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Trading Forge API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check OpenClaw Gateway",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Ollama",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Discord Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Trading Forge API": {
      "main": [
        [
          {
            "node": "Merge Core Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check OpenClaw Gateway": {
      "main": [
        [
          {
            "node": "Merge Core Health",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Ollama": {
      "main": [
        [
          {
            "node": "Merge Integration Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Discord Bot": {
      "main": [
        [
          {
            "node": "Merge Integration Health",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Core Health": {
      "main": [
        [
          {
            "node": "Merge All Health Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Integration Health": {
      "main": [
        [
          {
            "node": "Merge All Health Checks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Health Checks": {
      "main": [
        [
          {
            "node": "Evaluate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Health": {
      "main": [
        [
          {
            "node": "Any Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Failures?": {
      "main": [
        [
          {
            "node": "Create Health Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Create Workflow Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Trading Forge API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check OpenClaw Gateway",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Ollama",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Discord Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "8b474838-3891-4f7c-b917-b997a75da234",
  "activeVersionId": "8b474838-3891-4f7c-b917-b997a75da234",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-20T05:16:50.112Z",
      "createdAt": "2026-03-20T05:16:50.112Z",
      "role": "workflow:owner",
      "workflowId": "66HEjQavpvirY6g5",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T05:16:50.116Z",
    "createdAt": "2026-03-20T05:16:50.116Z",
    "versionId": "8b474838-3891-4f7c-b917-b997a75da234",
    "workflowId": "66HEjQavpvirY6g5",
    "nodes": [
      {
        "id": "execute-workflow-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -180
        ],
        "parameters": {}
      },
      {
        "id": "trigger",
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        }
      },
      {
        "id": "check-api",
        "name": "Check Trading Forge API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          -220
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:4000/api/health",
          "options": {
            "timeout": 10000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "check-openclaw",
        "name": "Check OpenClaw Gateway",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          -70
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:18789/health",
          "options": {
            "timeout": 10000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "check-ollama",
        "name": "Check Ollama",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          80
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:11434/api/tags",
          "options": {
            "timeout": 10000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "check-discord",
        "name": "Check Discord Bot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          230
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:4100/health",
          "options": {
            "timeout": 10000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "merge-core",
        "name": "Merge Core Health",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          500,
          -150
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 2
        }
      },
      {
        "id": "merge-integrations",
        "name": "Merge Integration Health",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          500,
          150
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 2
        }
      },
      {
        "id": "merge-all",
        "name": "Merge All Health Checks",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          730,
          0
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 2
        }
      },
      {
        "id": "evaluate",
        "name": "Evaluate Health",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          950,
          0
        ],
        "parameters": {
          "jsCode": "const services = [\n  { name: 'Trading Forge API', port: 4000, critical: true, result: $('Check Trading Forge API').first() },\n  { name: 'OpenClaw Gateway', port: 18789, critical: false, result: $('Check OpenClaw Gateway').first() },\n  { name: 'Ollama', port: 11434, critical: false, result: $('Check Ollama').first() },\n  { name: 'Discord Bot', port: 4100, critical: false, result: $('Check Discord Bot').first() },\n];\n\nfunction inspectService(service) {\n  const json = service.result?.json ?? {};\n  const error = json.error || json.message || json.errorMessage || json.description || null;\n  const code = json.code || json.errorCode || json.statusCode || null;\n  const healthy = !error && (\n    json.status === 'ok'\n    || json.connected === true\n    || Array.isArray(json.models)\n  );\n\n  return {\n    name: service.name,\n    port: service.port,\n    critical: service.critical,\n    healthy,\n    status: json.status ?? (healthy ? 'ok' : 'error'),\n    error: error || (healthy ? null : code || 'no response'),\n  };\n}\n\nconst inspected = services.map(inspectService);\nconst failures = inspected.filter((service) => !service.healthy);\n\nreturn [{\n  json: {\n    allHealthy: failures.length === 0,\n    failureCount: failures.length,\n    failures: failures.map((service) => `${service.name} (port ${service.port}): ${service.error}`),\n    services: inspected,\n    checkedAt: new Date().toISOString(),\n  },\n}];"
        }
      },
      {
        "id": "check-failures",
        "name": "Any Failures?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1170,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.failureCount }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ]
          }
        }
      },
      {
        "id": "create-alert",
        "name": "Create Health Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1400,
          0
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/alerts",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  type: 'health_monitor',\n  severity: 'critical',\n  title: 'Trading Forge health monitor detected service degradation',\n  message: $json.failures.join(' | '),\n  metadata: {\n    checkedAt: $json.checkedAt,\n    failureCount: $json.failureCount,\n    services: $json.services,\n  },\n}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "err-trigger",
        "name": "On Error",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          240,
          420
        ],
        "parameters": {}
      },
      {
        "id": "err-alert",
        "name": "Create Workflow Error Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          500,
          420
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/alerts",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  type: 'workflow_error',\n  severity: 'critical',\n  title: '0A-health-monitor failed',\n  message: $json.execution?.error?.message || $json.error?.message || 'Unknown workflow error',\n  metadata: {\n    workflow: '0A-health-monitor',\n    timestamp: new Date().toISOString(),\n  },\n}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [
          [
            {
              "node": "Check Trading Forge API",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check OpenClaw Gateway",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Ollama",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Discord Bot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Trading Forge API": {
        "main": [
          [
            {
              "node": "Merge Core Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check OpenClaw Gateway": {
        "main": [
          [
            {
              "node": "Merge Core Health",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Check Ollama": {
        "main": [
          [
            {
              "node": "Merge Integration Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Discord Bot": {
        "main": [
          [
            {
              "node": "Merge Integration Health",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Core Health": {
        "main": [
          [
            {
              "node": "Merge All Health Checks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Integration Health": {
        "main": [
          [
            {
              "node": "Merge All Health Checks",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge All Health Checks": {
        "main": [
          [
            {
              "node": "Evaluate Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Health": {
        "main": [
          [
            {
              "node": "Any Failures?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any Failures?": {
        "main": [
          [
            {
              "node": "Create Health Alert",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "On Error": {
        "main": [
          [
            {
              "node": "Create Workflow Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Check Trading Forge API",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check OpenClaw Gateway",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Ollama",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Discord Bot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tonio tonioswayz32@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T05:17:04.884Z",
        "id": 1185,
        "workflowId": "66HEjQavpvirY6g5",
        "versionId": "8b474838-3891-4f7c-b917-b997a75da234",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ],
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/New_York",
      "saveDataErrorExecution": "all",
      "saveDataSuccessExecution": "none",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  }
}
