workflows/n8n/10A-master-orchestration_8HKXzNmo9KF59SBu.json
{
  "updatedAt": "2026-03-20T05:35:37.427Z",
  "createdAt": "2026-03-20T05:35:37.427Z",
  "id": "8HKXzNmo9KF59SBu",
  "name": "10A-master-orchestration",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-stats",
      "name": "Fetch Pipeline Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -200
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "http://host.docker.internal:4000/api/journal/stats/summary",
        "method": "GET",
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "format-summary",
      "name": "Format Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        550,
        0
      ],
      "parameters": {
        "jsCode": "const health = $('Check System Health').first().json;\nconst stats = $('Fetch Pipeline Stats').first().json;\nconst strategies = $('Check Strategy Pipeline').first().json;\n\nconst s = stats.data || stats;\nconst strats = strategies.data || strategies;\nconst stratList = Array.isArray(strats) ? strats : [];\n\nconst healthStatus = health.status || health.error || 'unknown';\nconst activeCount = stratList.filter(s => s.lifecycleState === 'ACTIVE' || s.lifecycleState === 'PAPER').length;\nconst testingCount = stratList.filter(s => s.lifecycleState === 'TESTING').length;\nconst decayCount = stratList.filter(s => s.lifecycleState === 'DECLINING' || s.decaying).length;\n\nconst lines = [\n  'System Health: ' + healthStatus,\n  'Total Strategies: ' + stratList.length,\n  'Active/Paper: ' + activeCount,\n  'Testing: ' + testingCount,\n  'Declining: ' + decayCount,\n  'Ideas sourced: ' + (s.totalIdeas ?? s.ideas ?? 'N/A'),\n  'Backtests run: ' + (s.totalBacktests ?? s.backtests ?? 'N/A'),\n  'Pass rate: ' + (s.passRate ?? 'N/A')\n];\n\nconst severity = healthStatus !== 'ok' ? 'warning' : 'info';\nreturn [{ json: { event: 'orchestration:daily-summary', data: { title: 'Daily Pipeline Summary (5 AM ET)', severity, body: lines.join('\\n'), healthStatus, strategyCount: stratList.length, activeCount, testingCount, decayCount } } }];"
      }
    },
    {
      "id": "send-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        770,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "http://host.docker.internal:4000/api/sse/broadcast",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "ch",
      "name": "Check System Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "http://host.docker.internal:4000/api/health",
        "method": "GET",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "cs",
      "name": "Check Strategy Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        200
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "http://host.docker.internal:4000/api/strategies",
        "method": "GET",
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "err-trigger",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        -300
      ]
    },
    {
      "id": "err-alert",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/sse/broadcast",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event: \"alert:triggered\", data: { type: \"workflow_error\", workflow: \"10A-master-orchestration\", error: $json.execution?.error?.message || $json.error?.message || \"Unknown error\", timestamp: new Date().toISOString() } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pipeline Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check System Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Strategy Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pipeline Stats": {
      "main": [
        [
          {
            "node": "Format Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check System Health": {
      "main": [
        [
          {
            "node": "Format Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Strategy Pipeline": {
      "main": [
        [
          {
            "node": "Format Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Summary": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Alert on Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cron Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "8611ac75-ff9e-4d82-a1dd-3431c2a1d249",
  "activeVersionId": "8611ac75-ff9e-4d82-a1dd-3431c2a1d249",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-20T05:35:37.427Z",
      "createdAt": "2026-03-20T05:35:37.427Z",
      "role": "workflow:owner",
      "workflowId": "8HKXzNmo9KF59SBu",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T05:35:37.452Z",
    "createdAt": "2026-03-20T05:35:37.452Z",
    "versionId": "8611ac75-ff9e-4d82-a1dd-3431c2a1d249",
    "workflowId": "8HKXzNmo9KF59SBu",
    "nodes": [
      {
        "id": "trigger",
        "name": "Cron Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 5 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "fetch-stats",
        "name": "Fetch Pipeline Stats",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          -200
        ],
        "continueOnFail": true,
        "parameters": {
          "url": "http://host.docker.internal:4000/api/journal/stats/summary",
          "method": "GET",
          "options": {
            "timeout": 30000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      },
      {
        "id": "format-summary",
        "name": "Format Daily Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          550,
          0
        ],
        "parameters": {
          "jsCode": "const health = $('Check System Health').first().json;\nconst stats = $('Fetch Pipeline Stats').first().json;\nconst strategies = $('Check Strategy Pipeline').first().json;\n\nconst s = stats.data || stats;\nconst strats = strategies.data || strategies;\nconst stratList = Array.isArray(strats) ? strats : [];\n\nconst healthStatus = health.status || health.error || 'unknown';\nconst activeCount = stratList.filter(s => s.lifecycleState === 'ACTIVE' || s.lifecycleState === 'PAPER').length;\nconst testingCount = stratList.filter(s => s.lifecycleState === 'TESTING').length;\nconst decayCount = stratList.filter(s => s.lifecycleState === 'DECLINING' || s.decaying).length;\n\nconst lines = [\n  'System Health: ' + healthStatus,\n  'Total Strategies: ' + stratList.length,\n  'Active/Paper: ' + activeCount,\n  'Testing: ' + testingCount,\n  'Declining: ' + decayCount,\n  'Ideas sourced: ' + (s.totalIdeas ?? s.ideas ?? 'N/A'),\n  'Backtests run: ' + (s.totalBacktests ?? s.backtests ?? 'N/A'),\n  'Pass rate: ' + (s.passRate ?? 'N/A')\n];\n\nconst severity = healthStatus !== 'ok' ? 'warning' : 'info';\nreturn [{ json: { event: 'orchestration:daily-summary', data: { title: 'Daily Pipeline Summary (5 AM ET)', severity, body: lines.join('\\n'), healthStatus, strategyCount: stratList.length, activeCount, testingCount, decayCount } } }];"
        }
      },
      {
        "id": "send-alert",
        "name": "Send Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          770,
          0
        ],
        "continueOnFail": true,
        "parameters": {
          "url": "http://host.docker.internal:4000/api/sse/broadcast",
          "method": "POST",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      },
      {
        "id": "ch",
        "name": "Check System Health",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "continueOnFail": true,
        "parameters": {
          "url": "http://host.docker.internal:4000/api/health",
          "method": "GET",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      },
      {
        "id": "cs",
        "name": "Check Strategy Pipeline",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          200
        ],
        "continueOnFail": true,
        "parameters": {
          "url": "http://host.docker.internal:4000/api/strategies",
          "method": "GET",
          "options": {
            "timeout": 30000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      },
      {
        "id": "err-trigger",
        "name": "On Error",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          200,
          -300
        ]
      },
      {
        "id": "err-alert",
        "name": "Alert on Error",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          -300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/sse/broadcast",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ event: \"alert:triggered\", data: { type: \"workflow_error\", workflow: \"10A-master-orchestration\", error: $json.execution?.error?.message || $json.error?.message || \"Unknown error\", timestamp: new Date().toISOString() } }) }}",
          "options": {
            "timeout": 10000
          }
        },
        "continueOnFail": true,
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Cron Trigger": {
        "main": [
          [
            {
              "node": "Fetch Pipeline Stats",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check System Health",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Strategy Pipeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Pipeline Stats": {
        "main": [
          [
            {
              "node": "Format Daily Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check System Health": {
        "main": [
          [
            {
              "node": "Format Daily Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Strategy Pipeline": {
        "main": [
          [
            {
              "node": "Format Daily Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Daily Summary": {
        "main": [
          [
            {
              "node": "Send Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On Error": {
        "main": [
          [
            {
              "node": "Alert on Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tonio tonioswayz32@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T05:35:37.917Z",
        "id": 1198,
        "workflowId": "8HKXzNmo9KF59SBu",
        "versionId": "8611ac75-ff9e-4d82-a1dd-3431c2a1d249",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ]
  }
}
