workflows/n8n/5G-brave-search-scout_z2c7zJmSx5dNle6P.json
{
  "updatedAt": "2026-03-20T06:51:25.694Z",
  "createdAt": "2026-03-20T05:21:29.639Z",
  "id": "z2c7zJmSx5dNle6P",
  "name": "5G-brave-search-scout",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Subscription-Token",
              "value": "BSA-12bUd_kRylS3PUt7rSOahkSoQ-3"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "futures trading strategies algo edge profitable backtest"
            },
            {
              "name": "count",
              "value": "20"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "brave-search",
      "name": "Brave Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst webResults = $input.first().json.web?.results || [];\nfor (const r of webResults) {\n  results.push({\n    json: {\n      source: 'brave',\n      title: r.title || '',\n      description: r.description || '',\n      url: r.url || '',\n      confidence_score: r.extra_snippets ? 0.7 : 0.5\n    }\n  });\n}\nreturn [{ json: { ideas: results.map(r => r.json) } }];"
      },
      "id": "parse-brave",
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/agent/scout-ideas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ideas: $json.ideas }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "post-ideas",
      "name": "Post Scout Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "err-trigger",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        -300
      ]
    },
    {
      "id": "err-alert",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/sse/broadcast",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event: \"alert:triggered\", data: { type: \"workflow_error\", workflow: \"5G-brave-search-scout\", error: $json.execution?.error?.message || $json.error?.message || \"Unknown error\", timestamp: new Date().toISOString() } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Brave Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Post Scout Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Alert on Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "66HEjQavpvirY6g5"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "e63061e2-fdee-4ec9-bf1d-9d210578493c",
  "activeVersionId": "e63061e2-fdee-4ec9-bf1d-9d210578493c",
  "versionCounter": 7,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-20T05:21:29.639Z",
      "createdAt": "2026-03-20T05:21:29.639Z",
      "role": "workflow:owner",
      "workflowId": "z2c7zJmSx5dNle6P",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T06:51:25.695Z",
    "createdAt": "2026-03-20T06:51:25.695Z",
    "versionId": "e63061e2-fdee-4ec9-bf1d-9d210578493c",
    "workflowId": "z2c7zJmSx5dNle6P",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 18
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.search.brave.com/res/v1/web/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Subscription-Token",
                "value": "BSA-12bUd_kRylS3PUt7rSOahkSoQ-3"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "futures trading strategies algo edge profitable backtest"
              },
              {
                "name": "count",
                "value": "20"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "brave-search",
        "name": "Brave Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const results = [];\nconst webResults = $input.first().json.web?.results || [];\nfor (const r of webResults) {\n  results.push({\n    json: {\n      source: 'brave',\n      title: r.title || '',\n      description: r.description || '',\n      url: r.url || '',\n      confidence_score: r.extra_snippets ? 0.7 : 0.5\n    }\n  });\n}\nreturn [{ json: { ideas: results.map(r => r.json) } }];"
        },
        "id": "parse-brave",
        "name": "Parse Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/agent/scout-ideas",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ ideas: $json.ideas }) }}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "post-ideas",
        "name": "Post Scout Ideas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          0
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "id": "err-trigger",
        "name": "On Error",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          200,
          -300
        ]
      },
      {
        "id": "err-alert",
        "name": "Alert on Error",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          -300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/sse/broadcast",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ event: \"alert:triggered\", data: { type: \"workflow_error\", workflow: \"5G-brave-search-scout\", error: $json.execution?.error?.message || $json.error?.message || \"Unknown error\", timestamp: new Date().toISOString() } }) }}",
          "options": {
            "timeout": 10000
          }
        },
        "continueOnFail": true,
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Brave Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brave Search": {
        "main": [
          [
            {
              "node": "Parse Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Results": {
        "main": [
          [
            {
              "node": "Post Scout Ideas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On Error": {
        "main": [
          [
            {
              "node": "Alert on Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tonio tonioswayz32@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T06:51:25.727Z",
        "id": 1202,
        "workflowId": "z2c7zJmSx5dNle6P",
        "versionId": "e63061e2-fdee-4ec9-bf1d-9d210578493c",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ]
  }
}