workflows/n8n/5H-reddit-scout_ZMgHYjcTq4YTRQXh.json
{
  "updatedAt": "2026-03-20T05:21:35.995Z",
  "createdAt": "2026-03-20T05:21:35.995Z",
  "id": "ZMgHYjcTq4YTRQXh",
  "name": "5H-reddit-scout",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -180
      ],
      "parameters": {}
    },
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            }
          ]
        }
      }
    },
    {
      "id": "reddit-algotrading",
      "name": "Reddit algotrading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        230,
        -220
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/r/algotrading/top.json?t=day&limit=25",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "reddit-futurestrading",
      "name": "Reddit futurestrading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        230,
        -70
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/r/futurestrading/top.json?t=day&limit=25",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "reddit-propfirms",
      "name": "Reddit prop_firms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        230,
        80
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/r/prop_firms/top.json?t=day&limit=25",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "fetch-fingerprints",
      "name": "Fetch Scout Fingerprints",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        230,
        230
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:4000/api/journal/scout-fingerprints?days=30",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "merge-reddit-a",
      "name": "Merge Reddit A",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        470,
        -140
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "merge-reddit-b",
      "name": "Merge Reddit B",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        690,
        -40
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "merge-context",
      "name": "Merge Scout Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        910,
        20
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      }
    },
    {
      "id": "parse-reddit",
      "name": "Parse Reddit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        20
      ],
      "parameters": {
        "jsCode": "const fingerprintPayload = $('Fetch Scout Fingerprints').first()?.json ?? {};\nconst fingerprints = Array.isArray(fingerprintPayload.fingerprints) ? fingerprintPayload.fingerprints : [];\nconst knownKeys = new Set();\nfor (const fingerprint of fingerprints) {\n  if (fingerprint.title_hash) knownKeys.add(String(fingerprint.title_hash));\n  if (fingerprint.url) knownKeys.add(String(fingerprint.url));\n}\n\nconst fetchFailures = [];\nconst ideas = [];\nconst normalizeTitle = (title) => title.toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().slice(0, 160);\n\nfor (const item of $input.all()) {\n  const payload = item.json ?? {};\n  const requestError = payload.error || payload.errorMessage || payload.message || null;\n  if (requestError) {\n    fetchFailures.push(String(requestError));\n    continue;\n  }\n\n  const posts = Array.isArray(payload?.data?.children) ? payload.data.children : [];\n  for (const post of posts) {\n    const data = post?.data ?? {};\n    const ups = Number(data.ups || 0);\n    const title = String(data.title || '').trim();\n    const url = 'https://www.reddit.com' + String(data.permalink || '');\n    const titleHash = normalizeTitle(title);\n    if (!title || ups <= 10) continue;\n    if (knownKeys.has(titleHash) || knownKeys.has(url)) continue;\n    knownKeys.add(titleHash);\n    knownKeys.add(url);\n\n    ideas.push({\n      source: 'reddit',\n      title,\n      description: String(data.selftext || '').substring(0, 1000),\n      url,\n      confidence_score: Math.min(1, ups / 100),\n    });\n  }\n}\n\nreturn [{\n  json: {\n    ideas,\n    ideaCount: ideas.length,\n    fetchFailures,\n    fetchedAt: new Date().toISOString(),\n  },\n}];"
      }
    },
    {
      "id": "any-feed-failures",
      "name": "Any Feed Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1350,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fetchFailures.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "create-warning-alert",
      "name": "Create Scout Warning Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -80
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/alerts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: 'workflow_warning',\n  severity: 'warning',\n  title: '5H-reddit-scout encountered upstream feed failures',\n  message: $json.fetchFailures.join(' | '),\n  metadata: {\n    workflow: '5H-reddit-scout',\n    fetchedAt: $json.fetchedAt,\n    ideaCount: $json.ideaCount,\n  },\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "has-ideas",
      "name": "Has Ideas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1350,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ideaCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "post-ideas",
      "name": "Post Scout Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        120
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/agent/scout-ideas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ideas: $json.ideas }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "err-trigger",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        220,
        430
      ],
      "parameters": {}
    },
    {
      "id": "err-alert",
      "name": "Create Workflow Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        430
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/alerts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: 'workflow_error',\n  severity: 'critical',\n  title: '5H-reddit-scout failed',\n  message: $json.execution?.error?.message || $json.error?.message || 'Unknown workflow error',\n  metadata: {\n    workflow: '5H-reddit-scout',\n    timestamp: new Date().toISOString(),\n  },\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Reddit algotrading",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit futurestrading",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit prop_firms",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Scout Fingerprints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit algotrading": {
      "main": [
        [
          {
            "node": "Merge Reddit A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit futurestrading": {
      "main": [
        [
          {
            "node": "Merge Reddit A",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Reddit A": {
      "main": [
        [
          {
            "node": "Merge Reddit B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit prop_firms": {
      "main": [
        [
          {
            "node": "Merge Reddit B",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Reddit B": {
      "main": [
        [
          {
            "node": "Merge Scout Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scout Fingerprints": {
      "main": [
        [
          {
            "node": "Merge Scout Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Scout Context": {
      "main": [
        [
          {
            "node": "Parse Reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reddit": {
      "main": [
        [
          {
            "node": "Any Feed Failures?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Ideas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Feed Failures?": {
      "main": [
        [
          {
            "node": "Create Scout Warning Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Has Ideas?": {
      "main": [
        [
          {
            "node": "Post Scout Ideas",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Create Workflow Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Reddit algotrading",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit futurestrading",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit prop_firms",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Scout Fingerprints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "d3bf4aa3-1282-4eb3-b2b9-b448f1950ec2",
  "activeVersionId": "d3bf4aa3-1282-4eb3-b2b9-b448f1950ec2",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-20T05:21:35.995Z",
      "createdAt": "2026-03-20T05:21:35.995Z",
      "role": "workflow:owner",
      "workflowId": "ZMgHYjcTq4YTRQXh",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T05:21:35.998Z",
    "createdAt": "2026-03-20T05:21:35.998Z",
    "versionId": "d3bf4aa3-1282-4eb3-b2b9-b448f1950ec2",
    "workflowId": "ZMgHYjcTq4YTRQXh",
    "nodes": [
      {
        "id": "execute-workflow-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -180
        ],
        "parameters": {}
      },
      {
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "days",
                "daysInterval": 1,
                "triggerAtHour": 18,
                "triggerAtMinute": 30
              }
            ]
          }
        }
      },
      {
        "id": "reddit-algotrading",
        "name": "Reddit algotrading",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          230,
          -220
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "GET",
          "url": "https://www.reddit.com/r/algotrading/top.json?t=day&limit=25",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "reddit-futurestrading",
        "name": "Reddit futurestrading",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          230,
          -70
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "GET",
          "url": "https://www.reddit.com/r/futurestrading/top.json?t=day&limit=25",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "reddit-propfirms",
        "name": "Reddit prop_firms",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          230,
          80
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "GET",
          "url": "https://www.reddit.com/r/prop_firms/top.json?t=day&limit=25",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "fetch-fingerprints",
        "name": "Fetch Scout Fingerprints",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          230,
          230
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:4000/api/journal/scout-fingerprints?days=30",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "merge-reddit-a",
        "name": "Merge Reddit A",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          470,
          -140
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 2
        }
      },
      {
        "id": "merge-reddit-b",
        "name": "Merge Reddit B",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          690,
          -40
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 2
        }
      },
      {
        "id": "merge-context",
        "name": "Merge Scout Context",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          910,
          20
        ],
        "parameters": {
          "mode": "append",
          "numberInputs": 2
        }
      },
      {
        "id": "parse-reddit",
        "name": "Parse Reddit",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1130,
          20
        ],
        "parameters": {
          "jsCode": "const fingerprintPayload = $('Fetch Scout Fingerprints').first()?.json ?? {};\nconst fingerprints = Array.isArray(fingerprintPayload.fingerprints) ? fingerprintPayload.fingerprints : [];\nconst knownKeys = new Set();\nfor (const fingerprint of fingerprints) {\n  if (fingerprint.title_hash) knownKeys.add(String(fingerprint.title_hash));\n  if (fingerprint.url) knownKeys.add(String(fingerprint.url));\n}\n\nconst fetchFailures = [];\nconst ideas = [];\nconst normalizeTitle = (title) => title.toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().slice(0, 160);\n\nfor (const item of $input.all()) {\n  const payload = item.json ?? {};\n  const requestError = payload.error || payload.errorMessage || payload.message || null;\n  if (requestError) {\n    fetchFailures.push(String(requestError));\n    continue;\n  }\n\n  const posts = Array.isArray(payload?.data?.children) ? payload.data.children : [];\n  for (const post of posts) {\n    const data = post?.data ?? {};\n    const ups = Number(data.ups || 0);\n    const title = String(data.title || '').trim();\n    const url = 'https://www.reddit.com' + String(data.permalink || '');\n    const titleHash = normalizeTitle(title);\n    if (!title || ups <= 10) continue;\n    if (knownKeys.has(titleHash) || knownKeys.has(url)) continue;\n    knownKeys.add(titleHash);\n    knownKeys.add(url);\n\n    ideas.push({\n      source: 'reddit',\n      title,\n      description: String(data.selftext || '').substring(0, 1000),\n      url,\n      confidence_score: Math.min(1, ups / 100),\n    });\n  }\n}\n\nreturn [{\n  json: {\n    ideas,\n    ideaCount: ideas.length,\n    fetchFailures,\n    fetchedAt: new Date().toISOString(),\n  },\n}];"
        }
      },
      {
        "id": "any-feed-failures",
        "name": "Any Feed Failures?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1350,
          -80
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.fetchFailures.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ]
          }
        }
      },
      {
        "id": "create-warning-alert",
        "name": "Create Scout Warning Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1580,
          -80
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/alerts",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  type: 'workflow_warning',\n  severity: 'warning',\n  title: '5H-reddit-scout encountered upstream feed failures',\n  message: $json.fetchFailures.join(' | '),\n  metadata: {\n    workflow: '5H-reddit-scout',\n    fetchedAt: $json.fetchedAt,\n    ideaCount: $json.ideaCount,\n  },\n}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "has-ideas",
        "name": "Has Ideas?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1350,
          120
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.ideaCount }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ]
          }
        }
      },
      {
        "id": "post-ideas",
        "name": "Post Scout Ideas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1580,
          120
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/agent/scout-ideas",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ ideas: $json.ideas }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "err-trigger",
        "name": "On Error",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          220,
          430
        ],
        "parameters": {}
      },
      {
        "id": "err-alert",
        "name": "Create Workflow Error Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          470,
          430
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/alerts",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  type: 'workflow_error',\n  severity: 'critical',\n  title: '5H-reddit-scout failed',\n  message: $json.execution?.error?.message || $json.error?.message || 'Unknown workflow error',\n  metadata: {\n    workflow: '5H-reddit-scout',\n    timestamp: new Date().toISOString(),\n  },\n}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Reddit algotrading",
              "type": "main",
              "index": 0
            },
            {
              "node": "Reddit futurestrading",
              "type": "main",
              "index": 0
            },
            {
              "node": "Reddit prop_firms",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Scout Fingerprints",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reddit algotrading": {
        "main": [
          [
            {
              "node": "Merge Reddit A",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reddit futurestrading": {
        "main": [
          [
            {
              "node": "Merge Reddit A",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Reddit A": {
        "main": [
          [
            {
              "node": "Merge Reddit B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reddit prop_firms": {
        "main": [
          [
            {
              "node": "Merge Reddit B",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Reddit B": {
        "main": [
          [
            {
              "node": "Merge Scout Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Scout Fingerprints": {
        "main": [
          [
            {
              "node": "Merge Scout Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Scout Context": {
        "main": [
          [
            {
              "node": "Parse Reddit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Reddit": {
        "main": [
          [
            {
              "node": "Any Feed Failures?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Has Ideas?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any Feed Failures?": {
        "main": [
          [
            {
              "node": "Create Scout Warning Alert",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Has Ideas?": {
        "main": [
          [
            {
              "node": "Post Scout Ideas",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "On Error": {
        "main": [
          [
            {
              "node": "Create Workflow Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Reddit algotrading",
              "type": "main",
              "index": 0
            },
            {
              "node": "Reddit futurestrading",
              "type": "main",
              "index": 0
            },
            {
              "node": "Reddit prop_firms",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Scout Fingerprints",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tonio tonioswayz32@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T05:22:10.390Z",
        "id": 1187,
        "workflowId": "ZMgHYjcTq4YTRQXh",
        "versionId": "d3bf4aa3-1282-4eb3-b2b9-b448f1950ec2",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ],
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/New_York",
      "saveDataErrorExecution": "all",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  }
}
