workflows/n8n/5I-tavily-scout_TMT3g7HenJ5etiwv.json
{
  "updatedAt": "2026-03-20T05:21:42.197Z",
  "createdAt": "2026-03-20T05:21:42.197Z",
  "id": "TMT3g7HenJ5etiwv",
  "name": "5I-tavily-scout",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"api_key\": \"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\", \"query\": \"futures trading strategy backtesting profitable edge 2026\", \"search_depth\": \"advanced\", \"max_results\": 10}",
        "options": {}
      },
      "id": "tavily-search",
      "name": "Tavily Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst ideas = results.map(r => ({\n  source: 'tavily',\n  title: r.title || '',\n  description: (r.content || '').substring(0, 1000),\n  url: r.url || '',\n  confidence_score: r.score || 0.5\n}));\nreturn [{ json: { ideas } }];"
      },
      "id": "parse-tavily",
      "name": "Parse Tavily",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/agent/scout-ideas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ideas) }}",
        "options": {}
      },
      "id": "post-ideas",
      "name": "Post Scout Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Parse Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tavily": {
      "main": [
        [
          {
            "node": "Post Scout Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "9d8af5ff-7e29-47c5-9e14-07d3387685ef",
  "activeVersionId": "9d8af5ff-7e29-47c5-9e14-07d3387685ef",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-20T05:21:42.197Z",
      "createdAt": "2026-03-20T05:21:42.197Z",
      "role": "workflow:owner",
      "workflowId": "TMT3g7HenJ5etiwv",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T05:21:42.201Z",
    "createdAt": "2026-03-20T05:21:42.201Z",
    "versionId": "9d8af5ff-7e29-47c5-9e14-07d3387685ef",
    "workflowId": "TMT3g7HenJ5etiwv",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 19
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"api_key\": \"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\", \"query\": \"futures trading strategy backtesting profitable edge 2026\", \"search_depth\": \"advanced\", \"max_results\": 10}",
          "options": {}
        },
        "id": "tavily-search",
        "name": "Tavily Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const results = $input.first().json.results || [];\nconst ideas = results.map(r => ({\n  source: 'tavily',\n  title: r.title || '',\n  description: (r.content || '').substring(0, 1000),\n  url: r.url || '',\n  confidence_score: r.score || 0.5\n}));\nreturn [{ json: { ideas } }];"
        },
        "id": "parse-tavily",
        "name": "Parse Tavily",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/agent/scout-ideas",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.ideas) }}",
          "options": {}
        },
        "id": "post-ideas",
        "name": "Post Scout Ideas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          0
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Tavily Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tavily Search": {
        "main": [
          [
            {
              "node": "Parse Tavily",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Tavily": {
        "main": [
          [
            {
              "node": "Post Scout Ideas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tonio tonioswayz32@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T05:22:16.937Z",
        "id": 1188,
        "workflowId": "TMT3g7HenJ5etiwv",
        "versionId": "9d8af5ff-7e29-47c5-9e14-07d3387685ef",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ]
  }
}