workflows/n8n/8B-source-quality-review_LQtqeWAcNOlkqROH.json
{
  "updatedAt": "2026-03-20T05:35:50.999Z",
  "createdAt": "2026-03-20T05:35:50.999Z",
  "id": "LQtqeWAcNOlkqROH",
  "name": "8B-source-quality-review",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -180
      ],
      "parameters": {}
    },
    {
      "id": "trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-source-stats",
      "name": "Fetch Source Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "url": "http://host.docker.internal:4000/api/journal/source-stats?days=90",
        "method": "GET",
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "calc-quality",
      "name": "Calculate Source Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "jsCode": "const payload = $input.first().json ?? {};\nconst sources = Array.isArray(payload.sources) ? payload.sources : [];\nconst ranked = sources.map((source) => ({\n  source: String(source.source || 'unknown'),\n  total: Number(source.total || 0),\n  scouted: Number(source.scouted || 0),\n  tested: Number(source.tested || 0),\n  promoted: Number(source.promoted || 0),\n  rejected: Number(source.rejected || 0),\n  promotionRate: Number(source.promotionRate || 0),\n})).sort((a, b) => b.promotionRate - a.promotionRate);\n\nconst lines = ranked.map((entry) =>\n  `${entry.source}: promotion=${entry.promotionRate.toFixed(2)}% | total=${entry.total} | scouted=${entry.scouted} | tested=${entry.tested} | promoted=${entry.promoted} | rejected=${entry.rejected}`\n);\n\nconst flagged = ranked.filter((entry) => entry.total >= 5 && entry.promotionRate < 5);\nconst tail = flagged.length > 0\n  ? ['', `Flagged sources (<5% promotion, min 5 observations): ${flagged.map((entry) => entry.source).join(', ')}`]\n  : [];\nconst body = ranked.length > 0\n  ? ['Weekly source quality review (90d):', ...lines, ...tail].join('\\n')\n  : 'No source data available yet.';\n\nreturn [{\n  json: {\n    severity: flagged.length > 0 ? 'warning' : 'info',\n    title: 'Weekly Source Quality Review',\n    message: body,\n    metadata: {\n      days: Number(payload.days || 90),\n      sourceCount: ranked.length,\n      flaggedSources: flagged.map((entry) => entry.source),\n      rankedSources: ranked,\n    },\n  },\n}];"
      }
    },
    {
      "id": "create-quality-alert",
      "name": "Create Source Quality Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/alerts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: 'source_quality_review',\n  severity: $json.severity,\n  title: $json.title,\n  message: $json.message,\n  metadata: $json.metadata,\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "id": "err-trigger",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "parameters": {}
    },
    {
      "id": "err-alert",
      "name": "Create Workflow Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        240
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/alerts",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  type: 'workflow_error',\n  severity: 'critical',\n  title: '8B-source-quality-review failed',\n  message: $json.execution?.error?.message || $json.error?.message || 'Unknown workflow error',\n  metadata: {\n    workflow: '8B-source-quality-review',\n    timestamp: new Date().toISOString(),\n  },\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch Source Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Stats": {
      "main": [
        [
          {
            "node": "Calculate Source Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Source Quality": {
      "main": [
        [
          {
            "node": "Create Source Quality Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Create Workflow Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Source Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cron Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "ebcbd892-e200-4a57-853e-ca44066298d2",
  "activeVersionId": "ebcbd892-e200-4a57-853e-ca44066298d2",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-20T05:35:50.999Z",
      "createdAt": "2026-03-20T05:35:50.999Z",
      "role": "workflow:owner",
      "workflowId": "LQtqeWAcNOlkqROH",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T05:35:51.002Z",
    "createdAt": "2026-03-20T05:35:51.002Z",
    "versionId": "ebcbd892-e200-4a57-853e-ca44066298d2",
    "workflowId": "LQtqeWAcNOlkqROH",
    "nodes": [
      {
        "id": "execute-workflow-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -180
        ],
        "parameters": {}
      },
      {
        "id": "trigger",
        "name": "Cron Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 18 * * 0"
              }
            ]
          }
        }
      },
      {
        "id": "fetch-source-stats",
        "name": "Fetch Source Stats",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          0
        ],
        "parameters": {
          "url": "http://host.docker.internal:4000/api/journal/source-stats?days=90",
          "method": "GET",
          "options": {
            "timeout": 30000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "id": "calc-quality",
        "name": "Calculate Source Quality",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          0
        ],
        "parameters": {
          "jsCode": "const payload = $input.first().json ?? {};\nconst sources = Array.isArray(payload.sources) ? payload.sources : [];\nconst ranked = sources.map((source) => ({\n  source: String(source.source || 'unknown'),\n  total: Number(source.total || 0),\n  scouted: Number(source.scouted || 0),\n  tested: Number(source.tested || 0),\n  promoted: Number(source.promoted || 0),\n  rejected: Number(source.rejected || 0),\n  promotionRate: Number(source.promotionRate || 0),\n})).sort((a, b) => b.promotionRate - a.promotionRate);\n\nconst lines = ranked.map((entry) =>\n  `${entry.source}: promotion=${entry.promotionRate.toFixed(2)}% | total=${entry.total} | scouted=${entry.scouted} | tested=${entry.tested} | promoted=${entry.promoted} | rejected=${entry.rejected}`\n);\n\nconst flagged = ranked.filter((entry) => entry.total >= 5 && entry.promotionRate < 5);\nconst tail = flagged.length > 0\n  ? ['', `Flagged sources (<5% promotion, min 5 observations): ${flagged.map((entry) => entry.source).join(', ')}`]\n  : [];\nconst body = ranked.length > 0\n  ? ['Weekly source quality review (90d):', ...lines, ...tail].join('\\n')\n  : 'No source data available yet.';\n\nreturn [{\n  json: {\n    severity: flagged.length > 0 ? 'warning' : 'info',\n    title: 'Weekly Source Quality Review',\n    message: body,\n    metadata: {\n      days: Number(payload.days || 90),\n      sourceCount: ranked.length,\n      flaggedSources: flagged.map((entry) => entry.source),\n      rankedSources: ranked,\n    },\n  },\n}];"
        }
      },
      {
        "id": "create-quality-alert",
        "name": "Create Source Quality Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          0
        ],
        "continueOnFail": true,
        "onError": "continueRegularOutput",
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/alerts",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  type: 'source_quality_review',\n  severity: $json.severity,\n  title: $json.title,\n  message: $json.message,\n  metadata: $json.metadata,\n}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "id": "err-trigger",
        "name": "On Error",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          240,
          240
        ],
        "parameters": {}
      },
      {
        "id": "err-alert",
        "name": "Create Workflow Error Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          240
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/alerts",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  type: 'workflow_error',\n  severity: 'critical',\n  title: '8B-source-quality-review failed',\n  message: $json.execution?.error?.message || $json.error?.message || 'Unknown workflow error',\n  metadata: {\n    workflow: '8B-source-quality-review',\n    timestamp: new Date().toISOString(),\n  },\n}) }}",
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Cron Trigger": {
        "main": [
          [
            {
              "node": "Fetch Source Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Source Stats": {
        "main": [
          [
            {
              "node": "Calculate Source Quality",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Source Quality": {
        "main": [
          [
            {
              "node": "Create Source Quality Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On Error": {
        "main": [
          [
            {
              "node": "Create Workflow Error Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Fetch Source Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tonio tonioswayz32@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-20T05:35:51.462Z",
        "id": 1199,
        "workflowId": "LQtqeWAcNOlkqROH",
        "versionId": "ebcbd892-e200-4a57-853e-ca44066298d2",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ],
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/New_York",
      "saveDataErrorExecution": "all",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  }
}
