workflows/n8n/Macro_Data_Sync_EUc24C5flAMb5nno.json
{
  "updatedAt": "2026-03-19T06:26:31.449Z",
  "createdAt": "2026-03-17T23:59:21.292Z",
  "id": "EUc24C5flAMb5nno",
  "name": "Macro Data Sync - Morning (7am Skip Classifier)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "morning-trigger",
      "name": "Morning Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "sync-fred",
      "name": "Sync FRED Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "url": "http://localhost:4000/api/macro/sync",
        "method": "POST",
        "options": {
          "timeout": 60000
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "fetch-calendar",
      "name": "Fetch Economic Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        690,
        300
      ],
      "parameters": {
        "url": "http://localhost:4000/api/macro/calendar",
        "method": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "days",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "run-skip-classifier",
      "name": "Run Skip Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        300
      ],
      "parameters": {
        "url": "http://localhost:4000/api/skip/today",
        "method": "GET",
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "check-sit-out",
      "name": "IF Any SIT_OUT",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1130,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sit-out-check",
              "leftValue": "={{ JSON.stringify($json).includes('SIT_OUT') || JSON.stringify($json).includes('SKIP') }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "broadcast-alert",
      "name": "Broadcast SIT_OUT Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        200
      ],
      "parameters": {
        "url": "http://localhost:4000/api/sse/broadcast",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'macro:sit-out-alert', data: { message: 'Economic event today — strategies may be sitting out', timestamp: new Date().toISOString() } }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "err-trigger",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        -300
      ]
    },
    {
      "id": "err-alert",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/sse/broadcast",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event: \"alert:triggered\", data: { type: \"workflow_error\", workflow: \"Macro Data Sync\", error: $json.execution?.error?.message || $json.error?.message || \"Unknown error\", timestamp: new Date().toISOString() } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Morning Schedule": {
      "main": [
        [
          {
            "node": "Sync FRED Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync FRED Data": {
      "main": [
        [
          {
            "node": "Fetch Economic Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Economic Calendar": {
      "main": [
        [
          {
            "node": "Run Skip Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Skip Classifier": {
      "main": [
        [
          {
            "node": "IF Any SIT_OUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Any SIT_OUT": {
      "main": [
        [
          {
            "node": "Broadcast SIT_OUT Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Alert on Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "66HEjQavpvirY6g5"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "90979f1b-6435-48c1-aef2-5e81d1876500",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-17T23:59:21.292Z",
      "createdAt": "2026-03-17T23:59:21.292Z",
      "role": "workflow:owner",
      "workflowId": "EUc24C5flAMb5nno",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}