workflows/n8n/Nightly_Strategy_Research_Loop_Z4NcOCDbet8KzjDd.json
{
  "updatedAt": "2026-03-17T07:43:25.455Z",
  "createdAt": "2026-03-10T04:18:42.955Z",
  "id": "Z4NcOCDbet8KzjDd",
  "name": "Nightly Strategy Research Loop",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Nightly 2AM EST Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "model": "qwen3-coder:30b",
        "options": {}
      },
      "id": "ollama-gen-model",
      "name": "Ollama Strategy Generator Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        896,
        528
      ],
      "credentials": {
        "ollamaApi": {
          "id": "BLgLWvmLGaJQOYaF",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "The current market regime for ES is: {{ $('Detect Market Regime').item.json.regime }} (ADX: {{ $('Detect Market Regime').item.json.adx }}). Generate 5 new vectorbt strategies for ES futures that are OPTIMIZED for this regime. For example, if TRENDING_UP, favor momentum/trend-following strategies. If MEAN_REVERTING, favor mean reversion. If VOLATILE, favor breakout/volatility strategies. Output valid Python code + JSON params. Max 5 params each. Use only proven edges (mean reversion, momentum, volatility breakout, VWAP, order flow imbalance). Return as a JSON array where each element has: strategy_name (string), one_sentence (string), python_code (string), params (object with max 5 keys). Output ONLY the JSON array, no markdown, no explanation.",
        "options": {
          "systemMessage": "You are an expert quantitative trading strategist specializing in ES (E-mini S&P 500) futures. You design systematic strategies using vectorbt for backtesting. You only propose strategies with proven statistical edges. You adapt your strategy selection based on the current market regime. Always output valid, parseable JSON."
        }
      },
      "id": "ai-agent-gen",
      "name": "Generate Strategies",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        952,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\n\n// Extract JSON array from response (handle markdown code fences)\nlet jsonStr = raw;\nconst fenceMatch = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nif (fenceMatch) {\n  jsonStr = fenceMatch[1].trim();\n}\n\n// Try to find array brackets if not already clean\nconst arrayMatch = jsonStr.match(/(\\[[\\s\\S]*\\])/);\nif (arrayMatch) {\n  jsonStr = arrayMatch[1];\n}\n\nlet strategies;\ntry {\n  strategies = JSON.parse(jsonStr);\n} catch (e) {\n  return [{\n    json: {\n      error: 'Failed to parse Ollama output as JSON',\n      raw_output: raw.substring(0, 500),\n      parse_error: e.message\n    }\n  }];\n}\n\nif (!Array.isArray(strategies)) {\n  strategies = [strategies];\n}\n\nconst enriched = strategies.map(s => ({\n  json: {\n    strategy_name: s.strategy_name || 'unnamed',\n    one_sentence: s.one_sentence || '',\n    python_code: s.python_code || '',\n    params: s.params || {},\n    symbol: 'ES',\n    timeframe: '15min',\n    start_date: '2024-01-01',\n    end_date: '2024-12-31',\n    source: 'ollama'\n  }\n}));\n\nreturn enriched;"
      },
      "id": "code-parse",
      "name": "Parse Ollama Strategy Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1544,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/agent/batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-batch-submit",
      "name": "Submit Strategies for Backtest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1768,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "wait-backtest",
      "name": "Wait 5min for Backtests",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1992,
        304
      ],
      "webhookId": "d7b1ba09-2562-458b-83a3-63e92ad76d4a"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/backtests?status=completed&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-fetch-results",
      "name": "Fetch Completed Backtests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2216,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "deepseek-r1:14b",
        "options": {}
      },
      "id": "ollama-critique-model",
      "name": "Ollama Critique Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2440,
        528
      ],
      "credentials": {
        "ollamaApi": {
          "id": "BLgLWvmLGaJQOYaF",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Review these backtest results. Which strategies pass all gates (Sharpe >= 1.5, PF >= 1.75, win rate >= 60%, max DD <= $2K)? Suggest param refinements for borderline strategies. Here are the results:\n\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a senior risk manager and trading strategy reviewer. You evaluate backtest results against strict performance gates. Be critical and data-driven. For borderline strategies, suggest specific parameter adjustments that could improve performance."
        }
      },
      "id": "ai-agent-critique",
      "name": "Critique Backtest Results",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2496,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/agent/critique",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-post-critique",
      "name": "Post Critique to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3088,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/journal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-log-journal",
      "name": "Log Cycle to Journal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3312,
        304
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "5a-strategy-gen",
        "tableName": "memory_5a_strategy_gen",
        "contextWindowLength": 10
      },
      "id": "2ee72890-2889-4ae0-84e9-fda4f290fec9",
      "name": "5A Gen Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1024,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "XDOEjC2s3oL432Lj",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "nomic-embed-text"
      },
      "id": "9f325f4f-68cc-431d-8d36-527f07725768",
      "name": "5A Gen Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1128,
        944
      ],
      "credentials": {
        "ollamaApi": {
          "id": "BLgLWvmLGaJQOYaF",
          "name": "Ollama account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableName": "vectors_5a_strategy_gen",
        "options": {}
      },
      "id": "5546f0aa-2eb2-4928-9a49-d72f20603dfb",
      "name": "5A Gen Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1048,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "XDOEjC2s3oL432Lj",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "5a-strategy-critique",
        "tableName": "memory_5a_strategy_critique",
        "contextWindowLength": 10
      },
      "id": "a461181e-63eb-4743-b606-35061ad48307",
      "name": "5A Critique Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2568,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "XDOEjC2s3oL432Lj",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "nomic-embed-text"
      },
      "id": "57b030bd-49b2-4eec-9867-6f090bec4295",
      "name": "5A Critique Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2672,
        944
      ],
      "credentials": {
        "ollamaApi": {
          "id": "BLgLWvmLGaJQOYaF",
          "name": "Ollama account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableName": "vectors_5a_strategy_critique",
        "options": {}
      },
      "id": "b71c45b6-3be7-4058-a96c-a4fbf8686bf3",
      "name": "5A Critique Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2592,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "XDOEjC2s3oL432Lj",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Search past strategy generations to avoid duplicates and learn from previous attempts. Contains history of generated strategies, their parameters, and outcomes."
      },
      "id": "59959d9c-aa2d-44f5-b440-5d34d66c7538",
      "name": "5A Gen Memory QA Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1152,
        528
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Search past critique assessments for consistency and reference previous evaluations of strategy backtest results."
      },
      "id": "f607f4c9-47b2-4a8e-b2ff-965d4a24bf94",
      "name": "5A Critique Memory QA Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2696,
        528
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "deepseek-r1:14b",
        "options": {}
      },
      "id": "b3c8f3d0-4dfc-4624-9977-c628277b7cb7",
      "name": "5A Gen QA LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1336,
        736
      ],
      "credentials": {
        "ollamaApi": {
          "id": "BLgLWvmLGaJQOYaF",
          "name": "Ollama account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "deepseek-r1:14b",
        "options": {}
      },
      "id": "03a4ab1d-d1e8-4aea-a12a-3831b922414b",
      "name": "5A Critique QA LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2880,
        736
      ],
      "credentials": {
        "ollamaApi": {
          "id": "BLgLWvmLGaJQOYaF",
          "name": "Ollama account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/agent/analyze-market",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ symbol: $json.symbol || 'ES', timeframe: $json.timeframe || '1h' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "detect-regime",
      "name": "Detect Market Regime",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/journal?status=scouted&limit=20",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-fetch-scouted",
      "name": "Fetch Scouted Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        304
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet scoutedIdeas = [];\n\n// Parse scouted ideas from API response\nfor (const item of items) {\n  const d = item.json;\n  if (Array.isArray(d)) {\n    scoutedIdeas = d;\n  } else if (d.ideas && Array.isArray(d.ideas)) {\n    scoutedIdeas = d.ideas;\n  } else if (d.entries && Array.isArray(d.entries)) {\n    scoutedIdeas = d.entries;\n  } else if (d.data && Array.isArray(d.data)) {\n    scoutedIdeas = d.data;\n  }\n}\n\n// Get the market regime data from upstream\nlet regimeData = {};\ntry {\n  regimeData = $('Detect Market Regime').first().json || {};\n} catch(e) { regimeData = {}; }\n\nlet scoutContext = '';\nif (scoutedIdeas.length > 0) {\n  const ideaSummaries = scoutedIdeas.slice(0, 10).map((idea, i) => {\n    const title = idea.title || idea.name || 'Untitled';\n    const summary = idea.summary || idea.description || '';\n    const source = idea.source || 'unknown';\n    return `${i + 1}. [${source}] ${title}: ${summary.substring(0, 150)}`;\n  }).join('\\n');\n  scoutContext = `\\n\\nRecent research discoveries to consider when generating strategies:\\n${ideaSummaries}`;\n}\n\nreturn [{ json: { ...regimeData, scoutContext, scoutedIdeaCount: scoutedIdeas.length } }];"
      },
      "id": "code-format-scout-context",
      "name": "Format Scout Context for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "id": "error-trigger",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1400
      ],
      "parameters": {}
    },
    {
      "id": "http-error-alert",
      "name": "Discord: Nightly Research Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        1400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/sse/broadcast",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: 'Nightly Research Error', message: String($json.execution ? ($json.execution.error ? $json.execution.error.message : 'Unknown error') : 'Unknown error'), severity: 'critical', data: { workflow: 'Nightly Strategy Research', execution: String($json.execution ? $json.execution.id : 'N/A') } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Generate Strategies": {
      "main": [
        [
          {
            "node": "Parse Ollama Strategy Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ollama Strategy Output": {
      "main": [
        [
          {
            "node": "Submit Strategies for Backtest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Strategies for Backtest": {
      "main": [
        [
          {
            "node": "Wait 5min for Backtests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5min for Backtests": {
      "main": [
        [
          {
            "node": "Fetch Completed Backtests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Completed Backtests": {
      "main": [
        [
          {
            "node": "Critique Backtest Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critique Backtest Results": {
      "main": [
        [
          {
            "node": "Post Critique to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Critique to Agent": {
      "main": [
        [
          {
            "node": "Log Cycle to Journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Strategy Generator Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Strategies",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Critique Model": {
      "ai_languageModel": [
        [
          {
            "node": "Critique Backtest Results",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "5A Gen Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Generate Strategies",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "5A Gen Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "5A Gen Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "5A Critique Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Critique Backtest Results",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "5A Critique Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "5A Critique Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "5A Gen Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "5A Gen Memory QA Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "5A Gen Memory QA Tool": {
      "ai_tool": [
        [
          {
            "node": "Generate Strategies",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "5A Critique Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "5A Critique Memory QA Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "5A Critique Memory QA Tool": {
      "ai_tool": [
        [
          {
            "node": "Critique Backtest Results",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "5A Gen QA LLM": {
      "ai_languageModel": [
        [
          {
            "node": "5A Gen Memory QA Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "5A Critique QA LLM": {
      "ai_languageModel": [
        [
          {
            "node": "5A Critique Memory QA Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Nightly 2AM EST Cron": {
      "main": [
        [
          {
            "node": "Detect Market Regime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Market Regime": {
      "main": [
        [
          {
            "node": "Fetch Scouted Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scouted Ideas": {
      "main": [
        [
          {
            "node": "Format Scout Context for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Scout Context for LLM": {
      "main": [
        [
          {
            "node": "Generate Strategies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Discord: Nightly Research Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Nightly 2AM EST Cron": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "2295103c-5e9e-438e-b0a7-00ee1f2fe877",
  "activeVersionId": "2295103c-5e9e-438e-b0a7-00ee1f2fe877",
  "versionCounter": 81,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-10T04:18:42.955Z",
      "createdAt": "2026-03-10T04:18:42.955Z",
      "role": "workflow:owner",
      "workflowId": "Z4NcOCDbet8KzjDd",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-17T07:43:25.457Z",
    "createdAt": "2026-03-17T07:43:25.457Z",
    "versionId": "2295103c-5e9e-438e-b0a7-00ee1f2fe877",
    "workflowId": "Z4NcOCDbet8KzjDd",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 2 * * 1-5"
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Nightly 2AM EST Cron",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          304
        ]
      },
      {
        "parameters": {
          "model": "qwen3-coder:30b",
          "options": {}
        },
        "id": "ollama-gen-model",
        "name": "Ollama Strategy Generator Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          896,
          528
        ],
        "credentials": {
          "ollamaApi": {
            "id": "BLgLWvmLGaJQOYaF",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "The current market regime for ES is: {{ $('Detect Market Regime').item.json.regime }} (ADX: {{ $('Detect Market Regime').item.json.adx }}). Generate 5 new vectorbt strategies for ES futures that are OPTIMIZED for this regime. For example, if TRENDING_UP, favor momentum/trend-following strategies. If MEAN_REVERTING, favor mean reversion. If VOLATILE, favor breakout/volatility strategies. Output valid Python code + JSON params. Max 5 params each. Use only proven edges (mean reversion, momentum, volatility breakout, VWAP, order flow imbalance). Return as a JSON array where each element has: strategy_name (string), one_sentence (string), python_code (string), params (object with max 5 keys). Output ONLY the JSON array, no markdown, no explanation.",
          "options": {
            "systemMessage": "You are an expert quantitative trading strategist specializing in ES (E-mini S&P 500) futures. You design systematic strategies using vectorbt for backtesting. You only propose strategies with proven statistical edges. You adapt your strategy selection based on the current market regime. Always output valid, parseable JSON."
          }
        },
        "id": "ai-agent-gen",
        "name": "Generate Strategies",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          952,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\n\n// Extract JSON array from response (handle markdown code fences)\nlet jsonStr = raw;\nconst fenceMatch = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nif (fenceMatch) {\n  jsonStr = fenceMatch[1].trim();\n}\n\n// Try to find array brackets if not already clean\nconst arrayMatch = jsonStr.match(/(\\[[\\s\\S]*\\])/);\nif (arrayMatch) {\n  jsonStr = arrayMatch[1];\n}\n\nlet strategies;\ntry {\n  strategies = JSON.parse(jsonStr);\n} catch (e) {\n  return [{\n    json: {\n      error: 'Failed to parse Ollama output as JSON',\n      raw_output: raw.substring(0, 500),\n      parse_error: e.message\n    }\n  }];\n}\n\nif (!Array.isArray(strategies)) {\n  strategies = [strategies];\n}\n\nconst enriched = strategies.map(s => ({\n  json: {\n    strategy_name: s.strategy_name || 'unnamed',\n    one_sentence: s.one_sentence || '',\n    python_code: s.python_code || '',\n    params: s.params || {},\n    symbol: 'ES',\n    timeframe: '15min',\n    start_date: '2024-01-01',\n    end_date: '2024-12-31',\n    source: 'ollama'\n  }\n}));\n\nreturn enriched;"
        },
        "id": "code-parse",
        "name": "Parse Ollama Strategy Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1544,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/agent/batch",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "http-batch-submit",
        "name": "Submit Strategies for Backtest",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1768,
          304
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "unit": "minutes"
        },
        "id": "wait-backtest",
        "name": "Wait 5min for Backtests",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1992,
          304
        ],
        "webhookId": "d7b1ba09-2562-458b-83a3-63e92ad76d4a"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:4000/api/backtests?status=completed&limit=5",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "http-fetch-results",
        "name": "Fetch Completed Backtests",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2216,
          304
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "model": "deepseek-r1:14b",
          "options": {}
        },
        "id": "ollama-critique-model",
        "name": "Ollama Critique Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          2440,
          528
        ],
        "credentials": {
          "ollamaApi": {
            "id": "BLgLWvmLGaJQOYaF",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "Review these backtest results. Which strategies pass all gates (Sharpe >= 1.5, PF >= 1.75, win rate >= 60%, max DD <= $2K)? Suggest param refinements for borderline strategies. Here are the results:\n\n{{ JSON.stringify($json) }}",
          "options": {
            "systemMessage": "You are a senior risk manager and trading strategy reviewer. You evaluate backtest results against strict performance gates. Be critical and data-driven. For borderline strategies, suggest specific parameter adjustments that could improve performance."
          }
        },
        "id": "ai-agent-critique",
        "name": "Critique Backtest Results",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          2496,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/agent/critique",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "http-post-critique",
        "name": "Post Critique to Agent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3088,
          304
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/journal",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "http-log-journal",
        "name": "Log Cycle to Journal",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3312,
          304
        ],
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "maxTries": 2,
        "continueOnFail": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "5a-strategy-gen",
          "tableName": "memory_5a_strategy_gen",
          "contextWindowLength": 10
        },
        "id": "2ee72890-2889-4ae0-84e9-fda4f290fec9",
        "name": "5A Gen Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          1024,
          528
        ],
        "credentials": {
          "postgres": {
            "id": "XDOEjC2s3oL432Lj",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "nomic-embed-text"
        },
        "id": "9f325f4f-68cc-431d-8d36-527f07725768",
        "name": "5A Gen Embeddings",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
        "typeVersion": 1,
        "position": [
          1128,
          944
        ],
        "credentials": {
          "ollamaApi": {
            "id": "BLgLWvmLGaJQOYaF",
            "name": "Ollama account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "tableName": "vectors_5a_strategy_gen",
          "options": {}
        },
        "id": "5546f0aa-2eb2-4928-9a49-d72f20603dfb",
        "name": "5A Gen Vector Store",
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3,
        "position": [
          1048,
          736
        ],
        "credentials": {
          "postgres": {
            "id": "XDOEjC2s3oL432Lj",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "5a-strategy-critique",
          "tableName": "memory_5a_strategy_critique",
          "contextWindowLength": 10
        },
        "id": "a461181e-63eb-4743-b606-35061ad48307",
        "name": "5A Critique Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          2568,
          528
        ],
        "credentials": {
          "postgres": {
            "id": "XDOEjC2s3oL432Lj",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "nomic-embed-text"
        },
        "id": "57b030bd-49b2-4eec-9867-6f090bec4295",
        "name": "5A Critique Embeddings",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
        "typeVersion": 1,
        "position": [
          2672,
          944
        ],
        "credentials": {
          "ollamaApi": {
            "id": "BLgLWvmLGaJQOYaF",
            "name": "Ollama account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "tableName": "vectors_5a_strategy_critique",
          "options": {}
        },
        "id": "b71c45b6-3be7-4058-a96c-a4fbf8686bf3",
        "name": "5A Critique Vector Store",
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3,
        "position": [
          2592,
          736
        ],
        "credentials": {
          "postgres": {
            "id": "XDOEjC2s3oL432Lj",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "description": "Search past strategy generations to avoid duplicates and learn from previous attempts. Contains history of generated strategies, their parameters, and outcomes."
        },
        "id": "59959d9c-aa2d-44f5-b440-5d34d66c7538",
        "name": "5A Gen Memory QA Tool",
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1.1,
        "position": [
          1152,
          528
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "description": "Search past critique assessments for consistency and reference previous evaluations of strategy backtest results."
        },
        "id": "f607f4c9-47b2-4a8e-b2ff-965d4a24bf94",
        "name": "5A Critique Memory QA Tool",
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1.1,
        "position": [
          2696,
          528
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "deepseek-r1:14b",
          "options": {}
        },
        "id": "b3c8f3d0-4dfc-4624-9977-c628277b7cb7",
        "name": "5A Gen QA LLM",
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          1336,
          736
        ],
        "credentials": {
          "ollamaApi": {
            "id": "BLgLWvmLGaJQOYaF",
            "name": "Ollama account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "model": "deepseek-r1:14b",
          "options": {}
        },
        "id": "03a4ab1d-d1e8-4aea-a12a-3831b922414b",
        "name": "5A Critique QA LLM",
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          2880,
          736
        ],
        "credentials": {
          "ollamaApi": {
            "id": "BLgLWvmLGaJQOYaF",
            "name": "Ollama account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/agent/analyze-market",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ symbol: $json.symbol || 'ES', timeframe: $json.timeframe || '1h' }) }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "detect-regime",
        "name": "Detect Market Regime",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          304
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:4000/api/journal?status=scouted&limit=20",
          "options": {
            "timeout": 15000
          }
        },
        "id": "http-fetch-scouted",
        "name": "Fetch Scouted Ideas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          448,
          304
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 3000,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nlet scoutedIdeas = [];\n\n// Parse scouted ideas from API response\nfor (const item of items) {\n  const d = item.json;\n  if (Array.isArray(d)) {\n    scoutedIdeas = d;\n  } else if (d.ideas && Array.isArray(d.ideas)) {\n    scoutedIdeas = d.ideas;\n  } else if (d.entries && Array.isArray(d.entries)) {\n    scoutedIdeas = d.entries;\n  } else if (d.data && Array.isArray(d.data)) {\n    scoutedIdeas = d.data;\n  }\n}\n\n// Get the market regime data from upstream\nlet regimeData = {};\ntry {\n  regimeData = $('Detect Market Regime').first().json || {};\n} catch(e) { regimeData = {}; }\n\nlet scoutContext = '';\nif (scoutedIdeas.length > 0) {\n  const ideaSummaries = scoutedIdeas.slice(0, 10).map((idea, i) => {\n    const title = idea.title || idea.name || 'Untitled';\n    const summary = idea.summary || idea.description || '';\n    const source = idea.source || 'unknown';\n    return `${i + 1}. [${source}] ${title}: ${summary.substring(0, 150)}`;\n  }).join('\\n');\n  scoutContext = `\\n\\nRecent research discoveries to consider when generating strategies:\\n${ideaSummaries}`;\n}\n\nreturn [{ json: { ...regimeData, scoutContext, scoutedIdeaCount: scoutedIdeas.length } }];"
        },
        "id": "code-format-scout-context",
        "name": "Format Scout Context for LLM",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          304
        ]
      },
      {
        "id": "error-trigger",
        "name": "On Workflow Error",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          1400
        ],
        "parameters": {}
      },
      {
        "id": "http-error-alert",
        "name": "Discord: Nightly Research Error",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          250,
          1400
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:4000/api/sse/broadcast",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ title: 'Nightly Research Error', message: String($json.execution ? ($json.execution.error ? $json.execution.error.message : 'Unknown error') : 'Unknown error'), severity: 'critical', data: { workflow: 'Nightly Strategy Research', execution: String($json.execution ? $json.execution.id : 'N/A') } }) }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "retryOnFail": true,
        "maxTries": 2,
        "onError": "continueRegularOutput",
        "continueOnFail": true
      }
    ],
    "connections": {
      "Generate Strategies": {
        "main": [
          [
            {
              "node": "Parse Ollama Strategy Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Ollama Strategy Output": {
        "main": [
          [
            {
              "node": "Submit Strategies for Backtest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Strategies for Backtest": {
        "main": [
          [
            {
              "node": "Wait 5min for Backtests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 5min for Backtests": {
        "main": [
          [
            {
              "node": "Fetch Completed Backtests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Completed Backtests": {
        "main": [
          [
            {
              "node": "Critique Backtest Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Critique Backtest Results": {
        "main": [
          [
            {
              "node": "Post Critique to Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post Critique to Agent": {
        "main": [
          [
            {
              "node": "Log Cycle to Journal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Strategy Generator Model": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Strategies",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Critique Model": {
        "ai_languageModel": [
          [
            {
              "node": "Critique Backtest Results",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "5A Gen Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Generate Strategies",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "5A Gen Embeddings": {
        "ai_embedding": [
          [
            {
              "node": "5A Gen Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "5A Critique Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Critique Backtest Results",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "5A Critique Embeddings": {
        "ai_embedding": [
          [
            {
              "node": "5A Critique Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "5A Gen Vector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "5A Gen Memory QA Tool",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "5A Gen Memory QA Tool": {
        "ai_tool": [
          [
            {
              "node": "Generate Strategies",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "5A Critique Vector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "5A Critique Memory QA Tool",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "5A Critique Memory QA Tool": {
        "ai_tool": [
          [
            {
              "node": "Critique Backtest Results",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "5A Gen QA LLM": {
        "ai_languageModel": [
          [
            {
              "node": "5A Gen Memory QA Tool",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "5A Critique QA LLM": {
        "ai_languageModel": [
          [
            {
              "node": "5A Critique Memory QA Tool",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Nightly 2AM EST Cron": {
        "main": [
          [
            {
              "node": "Detect Market Regime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Market Regime": {
        "main": [
          [
            {
              "node": "Fetch Scouted Ideas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Scouted Ideas": {
        "main": [
          [
            {
              "node": "Format Scout Context for LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Scout Context for LLM": {
        "main": [
          [
            {
              "node": "Generate Strategies",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On Workflow Error": {
        "main": [
          [
            {
              "node": "Discord: Nightly Research Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tonio tonioswayz32@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-17T07:43:25.485Z",
        "id": 1163,
        "workflowId": "Z4NcOCDbet8KzjDd",
        "versionId": "2295103c-5e9e-438e-b0a7-00ee1f2fe877",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ]
  }
}
