workflows/n8n/Receipt_Archival___Nightly_WkRIXVANitOqZrzF.json
{
  "updatedAt": "2026-03-05T02:02:30.934Z",
  "createdAt": "2026-02-16T13:48:31.405Z",
  "id": "WkRIXVANitOqZrzF",
  "name": "Receipt Archival — Nightly",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Nightly 2am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const enabled = $env.N8N_WORKFLOW_RECEIPT_ARCHIVAL_ENABLED;\nif (enabled === 'false' || enabled === '0') {\n  return [{ json: { killed: true, reason: 'kill_switch_disabled' } }];\n}\nconst requestId = 'ops-receipt-archival-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = 'n8n-receipt-archival-' + new Date().toISOString().slice(0, 10);\nconst crypto = require('crypto');\nconst payloadHash = crypto.createHash('sha256').update(JSON.stringify({ action: 'ops.receipt_archival', date: new Date().toISOString().slice(0, 10) })).digest('hex');\nconst idempotencyKey = crypto.createHash('sha256').update(requestId + 'ops.receipt_archival' + payloadHash).digest('hex');\nreturn [{ json: { killed: false, requestId, correlationId, idempotencyKey, timestamp: new Date().toISOString() } }];"
      },
      "id": "kill-switch-and-prep",
      "name": "Kill Switch + Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.killed }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-killed",
      "name": "Kill Switch Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/archive_old_receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "older_than_days",
              "value": "90"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 1000,
            "retryIntervalBackoff": true
          }
        }
      },
      "id": "archive-receipts",
      "name": "Archive Receipts > 90d",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-archive-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SUCCEEDED', correlation_id: $('Kill Switch + Prep').item.json.correlationId, actor_type: 'SYSTEM', actor_id: 'n8n-receipt-archival', action: { action_type: 'ops.receipt_archival', risk_tier: 'green', archived_count: $json.archived_count || 0 }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-receipt-success",
      "name": "Emit Success Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-archive-killed-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SKIPPED', correlation_id: 'n8n-receipt-archival-killed-' + new Date().toISOString().slice(0, 10), actor_type: 'SYSTEM', actor_id: 'n8n-receipt-archival', action: { action_type: 'ops.receipt_archival', reason: 'kill_switch_disabled' }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-receipt-killed",
      "name": "Emit Kill Switch Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        440,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-archive-fail-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'FAILED', correlation_id: 'n8n-receipt-archival', actor_type: 'SYSTEM', actor_id: 'n8n-receipt-archival', action: { action_type: 'ops.receipt_archival' }, result: { error_message: $json.message || 'Unknown error' }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-receipt-failure",
      "name": "Emit Failure Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        560
      ]
    }
  ],
  "connections": {
    "Nightly 2am": {
      "main": [
        [
          {
            "node": "Kill Switch + Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kill Switch + Prep": {
      "main": [
        [
          {
            "node": "Kill Switch Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kill Switch Active?": {
      "main": [
        [
          {
            "node": "Archive Receipts > 90d",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emit Kill Switch Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Receipts > 90d": {
      "main": [
        [
          {
            "node": "Emit Success Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Emit Failure Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Nightly 2am": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
  "activeVersionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
  "versionCounter": 85,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-16T13:48:31.405Z",
      "createdAt": "2026-02-16T13:48:31.405Z",
      "role": "workflow:owner",
      "workflowId": "WkRIXVANitOqZrzF",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-19T03:47:23.606Z",
    "createdAt": "2026-02-19T03:47:23.606Z",
    "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
    "workflowId": "WkRIXVANitOqZrzF",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 2
              }
            ]
          }
        },
        "id": "cron-trigger",
        "name": "Nightly 2am",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          220,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const enabled = $env.N8N_WORKFLOW_RECEIPT_ARCHIVAL_ENABLED;\nif (enabled === 'false' || enabled === '0') {\n  return [{ json: { killed: true, reason: 'kill_switch_disabled' } }];\n}\nconst requestId = 'ops-receipt-archival-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = 'n8n-receipt-archival-' + new Date().toISOString().slice(0, 10);\nconst crypto = require('crypto');\nconst payloadHash = crypto.createHash('sha256').update(JSON.stringify({ action: 'ops.receipt_archival', date: new Date().toISOString().slice(0, 10) })).digest('hex');\nconst idempotencyKey = crypto.createHash('sha256').update(requestId + 'ops.receipt_archival' + payloadHash).digest('hex');\nreturn [{ json: { killed: false, requestId, correlationId, idempotencyKey, timestamp: new Date().toISOString() } }];"
        },
        "id": "kill-switch-and-prep",
        "name": "Kill Switch + Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.killed }}",
                "operation": "equals",
                "value2": "true"
              }
            ]
          }
        },
        "id": "check-killed",
        "name": "Kill Switch Active?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          660,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/archive_old_receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "older_than_days",
                "value": "90"
              }
            ]
          },
          "options": {
            "timeout": 30000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 1000,
              "retryIntervalBackoff": true
            }
          }
        },
        "id": "archive-receipts",
        "name": "Archive Receipts > 90d",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-archive-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SUCCEEDED', correlation_id: $('Kill Switch + Prep').item.json.correlationId, actor_type: 'SYSTEM', actor_id: 'n8n-receipt-archival', action: { action_type: 'ops.receipt_archival', risk_tier: 'green', archived_count: $json.archived_count || 0 }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-receipt-success",
        "name": "Emit Success Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-archive-killed-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SKIPPED', correlation_id: 'n8n-receipt-archival-killed-' + new Date().toISOString().slice(0, 10), actor_type: 'SYSTEM', actor_id: 'n8n-receipt-archival', action: { action_type: 'ops.receipt_archival', reason: 'kill_switch_disabled' }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-receipt-killed",
        "name": "Emit Kill Switch Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          200
        ]
      },
      {
        "parameters": {},
        "id": "error-trigger",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          440,
          560
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-archive-fail-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'FAILED', correlation_id: 'n8n-receipt-archival', actor_type: 'SYSTEM', actor_id: 'n8n-receipt-archival', action: { action_type: 'ops.receipt_archival' }, result: { error_message: $json.message || 'Unknown error' }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-receipt-failure",
        "name": "Emit Failure Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          560
        ]
      }
    ],
    "connections": {
      "Nightly 2am": {
        "main": [
          [
            {
              "node": "Kill Switch + Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kill Switch + Prep": {
        "main": [
          [
            {
              "node": "Kill Switch Active?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kill Switch Active?": {
        "main": [
          [
            {
              "node": "Archive Receipts > 90d",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Emit Kill Switch Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Archive Receipts > 90d": {
        "main": [
          [
            {
              "node": "Emit Success Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Emit Failure Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin Aspire",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-04T22:31:40.557Z",
        "id": 541,
        "workflowId": "WkRIXVANitOqZrzF",
        "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T00:34:30.630Z",
        "id": 594,
        "workflowId": "WkRIXVANitOqZrzF",
        "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T00:34:32.014Z",
        "id": 612,
        "workflowId": "WkRIXVANitOqZrzF",
        "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T01:47:05.490Z",
        "id": 630,
        "workflowId": "WkRIXVANitOqZrzF",
        "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T01:47:06.784Z",
        "id": 648,
        "workflowId": "WkRIXVANitOqZrzF",
        "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-02-19T03:47:23.649Z",
        "id": 397,
        "workflowId": "WkRIXVANitOqZrzF",
        "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T02:02:30.956Z",
        "id": 666,
        "workflowId": "WkRIXVANitOqZrzF",
        "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T02:02:32.431Z",
        "id": 684,
        "workflowId": "WkRIXVANitOqZrzF",
        "versionId": "46da97b6-88d6-42b9-aa3b-e92b961c7139",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ]
  }
}