workflows/n8n/SLO_Monitor_—_Every_5min_dRR36XPA6KuQfL0T.json
{
  "updatedAt": "2026-03-13T05:43:59.522Z",
  "createdAt": "2026-02-16T13:48:31.715Z",
  "id": "dRR36XPA6KuQfL0T",
  "name": "SLO Monitor \u2014 Every 5min",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "interval-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const enabled = $env.N8N_WORKFLOW_SLO_MONITOR_ENABLED;\nif (enabled === 'false' || enabled === '0') {\n  return [{ json: { killed: true, reason: 'kill_switch_disabled' } }];\n}\nconst requestId = 'ops-slo-monitor-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = 'n8n-slo-monitor-' + new Date().toISOString().slice(0, 16);\nconst crypto = require('crypto');\nconst payloadHash = crypto.createHash('sha256').update(JSON.stringify({ action: 'ops.slo_monitor', ts: new Date().toISOString().slice(0, 16) })).digest('hex');\nconst idempotencyKey = crypto.createHash('sha256').update(requestId + 'ops.slo_monitor' + payloadHash).digest('hex');\nreturn [{ json: { killed: false, requestId, correlationId, idempotencyKey, timestamp: new Date().toISOString() } }];"
      },
      "id": "kill-switch-and-prep",
      "name": "Kill Switch + Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.killed }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-killed",
      "name": "Kill Switch Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/provider_call_log?select=started_at,completed_at,status,error_code&started_at=gte.{{ new Date(Date.now() - 5 * 60 * 1000).toISOString() }}&order=started_at.desc&limit=200",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 1000,
            "retryIntervalBackoff": true
          }
        }
      },
      "id": "fetch-metrics",
      "name": "Fetch Recent Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const calls = $input.all().map(i => i.json);\nconst flat = Array.isArray(calls[0]) ? calls[0] : calls;\nconst validCalls = flat.filter((call) => call && (call.started_at || call.completed_at || call.status || call.error_code));\nif (validCalls.length === 0) {\n  return [{ json: { breach: false, noData: true, robotStatus: 'partial', p95: 0, errorRate: 0, totalCalls: 0, sloP95: 5000, sloErrorRate: 5, summary: 'No provider calls in the last 5 minutes' } }];\n}\nconst durations = validCalls.map((call) => {\n  const started = Date.parse(call.started_at || '');\n  const completed = Date.parse(call.completed_at || '');\n  if (Number.isFinite(started) && Number.isFinite(completed) && completed >= started) {\n    return completed - started;\n  }\n  return 0;\n}).sort((a, b) => a - b);\nconst p95Index = Math.max(0, Math.ceil(durations.length * 0.95) - 1);\nconst p95 = durations[p95Index] || 0;\nconst failed = validCalls.filter((call) => ['failed', 'partial', 'canceled', 'timeout'].includes(String(call.status || '').toLowerCase())).length;\nconst errorRate = validCalls.length ? (failed / validCalls.length) * 100 : 0;\nconst SLO_P95_MS = 5000;\nconst SLO_ERROR_RATE = 5;\nconst breach = p95 > SLO_P95_MS || errorRate > SLO_ERROR_RATE;\nconst robotStatus = breach ? 'failed' : 'passed';\nconst roundedErrorRate = Math.round(errorRate * 100) / 100;\nconst summary = breach\n  ? `SLO breach detected: p95=${p95}ms error_rate=${roundedErrorRate}% calls=${validCalls.length}`\n  : `SLO healthy: p95=${p95}ms error_rate=${roundedErrorRate}% calls=${validCalls.length}`;\nreturn [{ json: { breach, noData: false, robotStatus, p95, errorRate: roundedErrorRate, totalCalls: validCalls.length, sloP95: SLO_P95_MS, sloErrorRate: SLO_ERROR_RATE, summary } }];"
      },
      "id": "calculate-slo",
      "name": "Calculate SLO Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.breach }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-breach",
      "name": "SLO Breached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-slo-healthy-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SUCCEEDED', correlation_id: $('Kill Switch + Prep').item.json.correlationId, actor_type: 'SYSTEM', actor_id: 'n8n-slo-monitor', action: { action_type: 'ops.slo_healthy', risk_tier: 'green', p95_ms: $json.p95, error_rate: $json.errorRate, total_calls: $json.totalCalls }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-healthy-receipt",
      "name": "Emit Healthy Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-slo-breach-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SUCCEEDED', correlation_id: $('Kill Switch + Prep').item.json.correlationId, actor_type: 'SYSTEM', actor_id: 'n8n-slo-monitor', action: { action_type: 'ops.slo_breach_detected', risk_tier: 'yellow', p95_ms: $json.p95, error_rate: $json.errorRate, total_calls: $json.totalCalls }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-breach-receipt",
      "name": "Emit Breach Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-slo-killed-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SKIPPED', correlation_id: 'n8n-slo-monitor-killed-' + new Date().toISOString().slice(0, 16), actor_type: 'SYSTEM', actor_id: 'n8n-slo-monitor', action: { action_type: 'ops.slo_monitor', reason: 'kill_switch_disabled' }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-receipt-killed",
      "name": "Emit Kill Switch Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        440,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-slo-fail-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'FAILED', correlation_id: 'n8n-slo-monitor', actor_type: 'SYSTEM', actor_id: 'n8n-slo-monitor', action: { action_type: 'ops.slo_monitor' }, result: { error_message: $json.message || 'SLO monitor failed' }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-failure-receipt",
      "name": "Emit Failure Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst prep = $('Kill Switch + Prep').item.json;\nconst payload = {\n  id: prep.requestId,\n  env: $env.ASPIRE_ROBOT_ENV || 'production',\n  suite: $env.ASPIRE_ROBOT_SUITE || 'aspire_robots',\n  status: $json.robotStatus || 'passed',\n  startedAt: prep.timestamp || new Date().toISOString(),\n  finishedAt: new Date().toISOString(),\n  versionRef: ($env.ASPIRE_ROBOT_VERSION_REF || 'n8n-live') + ':slo-monitor',\n  summary: $json.summary || 'SLO monitor completed',\n  scenarios: [{\n    name: 'slo_window',\n    status: $json.robotStatus || 'passed',\n    summary: $json.summary || 'SLO monitor completed',\n    evidence: [\n      `correlation:${prep.correlationId}`,\n      `total_calls:${$json.totalCalls || 0}`,\n      `p95_ms:${$json.p95 || 0}`,\n      `error_rate:${$json.errorRate || 0}`\n    ]\n  }],\n  meta: { workflow: 'slo-monitor', correlationId: prep.correlationId, requestId: prep.requestId, totalCalls: $json.totalCalls || 0, p95Ms: $json.p95 || 0, errorRate: $json.errorRate || 0, noData: Boolean($json.noData) }\n};\nconst robotBody = JSON.stringify(payload);\nconst robotSignature = crypto.createHmac('sha256', $env.ASPIRE_ROBOT_S2S_SECRET).update(robotBody).digest('hex');\nreturn [{ json: { ...$json, robotBody, robotSignature } }];"
      },
      "id": "slo-build-healthy-robot",
      "name": "Build Healthy Robot Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ASPIRE_ROBOT_INGEST_URL }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-robot-signature",
              "value": "={{ $json.robotSignature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.robotBody }}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 1000,
            "retryIntervalBackoff": true
          }
        }
      },
      "id": "slo-post-healthy-robot",
      "name": "POST Healthy Robot Run ? Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst prep = $('Kill Switch + Prep').item.json;\nconst payload = {\n  id: prep.requestId,\n  env: $env.ASPIRE_ROBOT_ENV || 'production',\n  suite: $env.ASPIRE_ROBOT_SUITE || 'aspire_robots',\n  status: 'failed',\n  startedAt: prep.timestamp || new Date().toISOString(),\n  finishedAt: new Date().toISOString(),\n  versionRef: ($env.ASPIRE_ROBOT_VERSION_REF || 'n8n-live') + ':slo-monitor',\n  summary: $json.summary || 'SLO breach detected',\n  scenarios: [{\n    name: 'slo_window',\n    status: 'failed',\n    summary: $json.summary || 'SLO breach detected',\n    evidence: [\n      `correlation:${prep.correlationId}`,\n      `total_calls:${$json.totalCalls || 0}`,\n      `p95_ms:${$json.p95 || 0}`,\n      `error_rate:${$json.errorRate || 0}`\n    ]\n  }],\n  meta: { workflow: 'slo-monitor', correlationId: prep.correlationId, requestId: prep.requestId, totalCalls: $json.totalCalls || 0, p95Ms: $json.p95 || 0, errorRate: $json.errorRate || 0 }\n};\nconst robotBody = JSON.stringify(payload);\nconst robotSignature = crypto.createHmac('sha256', $env.ASPIRE_ROBOT_S2S_SECRET).update(robotBody).digest('hex');\nreturn [{ json: { ...$json, robotBody, robotSignature } }];"
      },
      "id": "slo-build-breach-robot",
      "name": "Build Breach Robot Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ASPIRE_ROBOT_INGEST_URL }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-robot-signature",
              "value": "={{ $json.robotSignature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.robotBody }}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 1000,
            "retryIntervalBackoff": true
          }
        }
      },
      "id": "slo-post-breach-robot",
      "name": "POST Breach Robot Run ? Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst payload = {\n  id: 'n8n-slo-error-' + Date.now(),\n  env: $env.ASPIRE_ROBOT_ENV || 'production',\n  suite: $env.ASPIRE_ROBOT_SUITE || 'aspire_robots',\n  status: 'failed',\n  startedAt: new Date().toISOString(),\n  finishedAt: new Date().toISOString(),\n  versionRef: ($env.ASPIRE_ROBOT_VERSION_REF || 'n8n-live') + ':slo-monitor',\n  summary: $json.message || 'SLO monitor execution failed',\n  scenarios: [{\n    name: 'slo_window',\n    status: 'failed',\n    summary: $json.message || 'SLO monitor execution failed',\n    evidence: [($json.message || 'workflow_error')]\n  }],\n  meta: { workflow: 'slo-monitor', error: $json.message || 'SLO monitor execution failed' }\n};\nconst robotBody = JSON.stringify(payload);\nconst robotSignature = crypto.createHmac('sha256', $env.ASPIRE_ROBOT_S2S_SECRET).update(robotBody).digest('hex');\nreturn [{ json: { ...$json, robotBody, robotSignature } }];"
      },
      "id": "slo-build-error-robot",
      "name": "Build Error Robot Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ASPIRE_ROBOT_INGEST_URL }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-robot-signature",
              "value": "={{ $json.robotSignature }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.robotBody }}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 1000,
            "retryIntervalBackoff": true
          }
        }
      },
      "id": "slo-post-error-robot",
      "name": "POST Error Robot Run ? Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        680
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Kill Switch + Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kill Switch + Prep": {
      "main": [
        [
          {
            "node": "Kill Switch Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kill Switch Active?": {
      "main": [
        [
          {
            "node": "Fetch Recent Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emit Kill Switch Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Metrics": {
      "main": [
        [
          {
            "node": "Calculate SLO Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate SLO Metrics": {
      "main": [
        [
          {
            "node": "SLO Breached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLO Breached?": {
      "main": [
        [
          {
            "node": "Build Healthy Robot Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Breach Robot Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Build Error Robot Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Healthy Robot Run": {
      "main": [
        [
          {
            "node": "POST Healthy Robot Run ? Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Healthy Robot Run ? Orchestrator": {
      "main": [
        [
          {
            "node": "Emit Healthy Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Breach Robot Run": {
      "main": [
        [
          {
            "node": "POST Breach Robot Run ? Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Breach Robot Run ? Orchestrator": {
      "main": [
        [
          {
            "node": "Emit Breach Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Robot Run": {
      "main": [
        [
          {
            "node": "POST Error Robot Run ? Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Error Robot Run ? Orchestrator": {
      "main": [
        [
          {
            "node": "Emit Failure Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "10eb9168-a5e6-45aa-9246-5b4cb8862fd5",
  "activeVersionId": "10eb9168-a5e6-45aa-9246-5b4cb8862fd5",
  "versionCounter": 356,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-16T13:48:31.715Z",
      "createdAt": "2026-02-16T13:48:31.715Z",
      "role": "workflow:owner",
      "workflowId": "dRR36XPA6KuQfL0T",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-13T04:08:36.411Z",
    "createdAt": "2026-03-13T04:08:36.411Z",
    "versionId": "10eb9168-a5e6-45aa-9246-5b4cb8862fd5",
    "workflowId": "dRR36XPA6KuQfL0T",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        },
        "id": "interval-trigger",
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          220,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const enabled = $env.N8N_WORKFLOW_SLO_MONITOR_ENABLED;\nif (enabled === 'false' || enabled === '0') {\n  return [{ json: { killed: true, reason: 'kill_switch_disabled' } }];\n}\nconst requestId = 'ops-slo-monitor-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = 'n8n-slo-monitor-' + new Date().toISOString().slice(0, 16);\nconst crypto = require('crypto');\nconst payloadHash = crypto.createHash('sha256').update(JSON.stringify({ action: 'ops.slo_monitor', ts: new Date().toISOString().slice(0, 16) })).digest('hex');\nconst idempotencyKey = crypto.createHash('sha256').update(requestId + 'ops.slo_monitor' + payloadHash).digest('hex');\nreturn [{ json: { killed: false, requestId, correlationId, idempotencyKey, timestamp: new Date().toISOString() } }];"
        },
        "id": "kill-switch-and-prep",
        "name": "Kill Switch + Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.killed }}",
                "operation": "equals",
                "value2": "true"
              }
            ]
          }
        },
        "id": "check-killed",
        "name": "Kill Switch Active?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          660,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/provider_call_log?select=started_at,completed_at,status,error_code&started_at=gte.{{ new Date(Date.now() - 5 * 60 * 1000).toISOString() }}&order=started_at.desc&limit=200",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "options": {
            "timeout": 10000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 1000,
              "retryIntervalBackoff": true
            }
          }
        },
        "id": "fetch-metrics",
        "name": "Fetch Recent Metrics",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          400
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const calls = $input.all().map(i => i.json);\nconst flat = Array.isArray(calls[0]) ? calls[0] : calls;\nconst validCalls = flat.filter((call) => call && (call.started_at || call.completed_at || call.status || call.error_code));\nif (validCalls.length === 0) {\n  return [{ json: { breach: false, noData: true, robotStatus: 'partial', p95: 0, errorRate: 0, totalCalls: 0, sloP95: 5000, sloErrorRate: 5, summary: 'No provider calls in the last 5 minutes' } }];\n}\nconst durations = validCalls.map((call) => {\n  const started = Date.parse(call.started_at || '');\n  const completed = Date.parse(call.completed_at || '');\n  if (Number.isFinite(started) && Number.isFinite(completed) && completed >= started) {\n    return completed - started;\n  }\n  return 0;\n}).sort((a, b) => a - b);\nconst p95Index = Math.max(0, Math.ceil(durations.length * 0.95) - 1);\nconst p95 = durations[p95Index] || 0;\nconst failed = validCalls.filter((call) => ['failed', 'partial', 'canceled', 'timeout'].includes(String(call.status || '').toLowerCase())).length;\nconst errorRate = validCalls.length ? (failed / validCalls.length) * 100 : 0;\nconst SLO_P95_MS = 5000;\nconst SLO_ERROR_RATE = 5;\nconst breach = p95 > SLO_P95_MS || errorRate > SLO_ERROR_RATE;\nconst robotStatus = breach ? 'failed' : 'passed';\nconst roundedErrorRate = Math.round(errorRate * 100) / 100;\nconst summary = breach\n  ? `SLO breach detected: p95=${p95}ms error_rate=${roundedErrorRate}% calls=${validCalls.length}`\n  : `SLO healthy: p95=${p95}ms error_rate=${roundedErrorRate}% calls=${validCalls.length}`;\nreturn [{ json: { breach, noData: false, robotStatus, p95, errorRate: roundedErrorRate, totalCalls: validCalls.length, sloP95: SLO_P95_MS, sloErrorRate: SLO_ERROR_RATE, summary } }];"
        },
        "id": "calculate-slo",
        "name": "Calculate SLO Metrics",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.breach }}",
                "operation": "equals",
                "value2": "true"
              }
            ]
          }
        },
        "id": "check-breach",
        "name": "SLO Breached?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1320,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-slo-healthy-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SUCCEEDED', correlation_id: $('Kill Switch + Prep').item.json.correlationId, actor_type: 'SYSTEM', actor_id: 'n8n-slo-monitor', action: { action_type: 'ops.slo_healthy', risk_tier: 'green', p95_ms: $json.p95, error_rate: $json.errorRate, total_calls: $json.totalCalls }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-healthy-receipt",
        "name": "Emit Healthy Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          500
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-slo-breach-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SUCCEEDED', correlation_id: $('Kill Switch + Prep').item.json.correlationId, actor_type: 'SYSTEM', actor_id: 'n8n-slo-monitor', action: { action_type: 'ops.slo_breach_detected', risk_tier: 'yellow', p95_ms: $json.p95, error_rate: $json.errorRate, total_calls: $json.totalCalls }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-breach-receipt",
        "name": "Emit Breach Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-slo-killed-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SKIPPED', correlation_id: 'n8n-slo-monitor-killed-' + new Date().toISOString().slice(0, 16), actor_type: 'SYSTEM', actor_id: 'n8n-slo-monitor', action: { action_type: 'ops.slo_monitor', reason: 'kill_switch_disabled' }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-receipt-killed",
        "name": "Emit Kill Switch Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          200
        ]
      },
      {
        "parameters": {},
        "id": "error-trigger",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          440,
          600
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-slo-fail-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'FAILED', correlation_id: 'n8n-slo-monitor', actor_type: 'SYSTEM', actor_id: 'n8n-slo-monitor', action: { action_type: 'ops.slo_monitor' }, result: { error_message: $json.message || 'SLO monitor failed' }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-failure-receipt",
        "name": "Emit Failure Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          600
        ]
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst prep = $('Kill Switch + Prep').item.json;\nconst payload = {\n  id: prep.requestId,\n  env: $env.ASPIRE_ROBOT_ENV || 'production',\n  suite: $env.ASPIRE_ROBOT_SUITE || 'aspire_robots',\n  status: $json.robotStatus || 'passed',\n  startedAt: prep.timestamp || new Date().toISOString(),\n  finishedAt: new Date().toISOString(),\n  versionRef: ($env.ASPIRE_ROBOT_VERSION_REF || 'n8n-live') + ':slo-monitor',\n  summary: $json.summary || 'SLO monitor completed',\n  scenarios: [{\n    name: 'slo_window',\n    status: $json.robotStatus || 'passed',\n    summary: $json.summary || 'SLO monitor completed',\n    evidence: [\n      `correlation:${prep.correlationId}`,\n      `total_calls:${$json.totalCalls || 0}`,\n      `p95_ms:${$json.p95 || 0}`,\n      `error_rate:${$json.errorRate || 0}`\n    ]\n  }],\n  meta: { workflow: 'slo-monitor', correlationId: prep.correlationId, requestId: prep.requestId, totalCalls: $json.totalCalls || 0, p95Ms: $json.p95 || 0, errorRate: $json.errorRate || 0, noData: Boolean($json.noData) }\n};\nconst robotBody = JSON.stringify(payload);\nconst robotSignature = crypto.createHmac('sha256', $env.ASPIRE_ROBOT_S2S_SECRET).update(robotBody).digest('hex');\nreturn [{ json: { ...$json, robotBody, robotSignature } }];"
        },
        "id": "slo-build-healthy-robot",
        "name": "Build Healthy Robot Run",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          580
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ASPIRE_ROBOT_INGEST_URL }}",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-robot-signature",
                "value": "={{ $json.robotSignature }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.robotBody }}",
          "options": {
            "timeout": 10000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 1000,
              "retryIntervalBackoff": true
            }
          }
        },
        "id": "slo-post-healthy-robot",
        "name": "POST Healthy Robot Run ? Orchestrator",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1760,
          580
        ]
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst prep = $('Kill Switch + Prep').item.json;\nconst payload = {\n  id: prep.requestId,\n  env: $env.ASPIRE_ROBOT_ENV || 'production',\n  suite: $env.ASPIRE_ROBOT_SUITE || 'aspire_robots',\n  status: 'failed',\n  startedAt: prep.timestamp || new Date().toISOString(),\n  finishedAt: new Date().toISOString(),\n  versionRef: ($env.ASPIRE_ROBOT_VERSION_REF || 'n8n-live') + ':slo-monitor',\n  summary: $json.summary || 'SLO breach detected',\n  scenarios: [{\n    name: 'slo_window',\n    status: 'failed',\n    summary: $json.summary || 'SLO breach detected',\n    evidence: [\n      `correlation:${prep.correlationId}`,\n      `total_calls:${$json.totalCalls || 0}`,\n      `p95_ms:${$json.p95 || 0}`,\n      `error_rate:${$json.errorRate || 0}`\n    ]\n  }],\n  meta: { workflow: 'slo-monitor', correlationId: prep.correlationId, requestId: prep.requestId, totalCalls: $json.totalCalls || 0, p95Ms: $json.p95 || 0, errorRate: $json.errorRate || 0 }\n};\nconst robotBody = JSON.stringify(payload);\nconst robotSignature = crypto.createHmac('sha256', $env.ASPIRE_ROBOT_S2S_SECRET).update(robotBody).digest('hex');\nreturn [{ json: { ...$json, robotBody, robotSignature } }];"
        },
        "id": "slo-build-breach-robot",
        "name": "Build Breach Robot Run",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          220
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ASPIRE_ROBOT_INGEST_URL }}",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-robot-signature",
                "value": "={{ $json.robotSignature }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.robotBody }}",
          "options": {
            "timeout": 10000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 1000,
              "retryIntervalBackoff": true
            }
          }
        },
        "id": "slo-post-breach-robot",
        "name": "POST Breach Robot Run ? Orchestrator",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1760,
          220
        ]
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\nconst payload = {\n  id: 'n8n-slo-error-' + Date.now(),\n  env: $env.ASPIRE_ROBOT_ENV || 'production',\n  suite: $env.ASPIRE_ROBOT_SUITE || 'aspire_robots',\n  status: 'failed',\n  startedAt: new Date().toISOString(),\n  finishedAt: new Date().toISOString(),\n  versionRef: ($env.ASPIRE_ROBOT_VERSION_REF || 'n8n-live') + ':slo-monitor',\n  summary: $json.message || 'SLO monitor execution failed',\n  scenarios: [{\n    name: 'slo_window',\n    status: 'failed',\n    summary: $json.message || 'SLO monitor execution failed',\n    evidence: [($json.message || 'workflow_error')]\n  }],\n  meta: { workflow: 'slo-monitor', error: $json.message || 'SLO monitor execution failed' }\n};\nconst robotBody = JSON.stringify(payload);\nconst robotSignature = crypto.createHmac('sha256', $env.ASPIRE_ROBOT_S2S_SECRET).update(robotBody).digest('hex');\nreturn [{ json: { ...$json, robotBody, robotSignature } }];"
        },
        "id": "slo-build-error-robot",
        "name": "Build Error Robot Run",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          680
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ASPIRE_ROBOT_INGEST_URL }}",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-robot-signature",
                "value": "={{ $json.robotSignature }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.robotBody }}",
          "options": {
            "timeout": 10000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 1000,
              "retryIntervalBackoff": true
            }
          }
        },
        "id": "slo-post-error-robot",
        "name": "POST Error Robot Run ? Orchestrator",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          680
        ]
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [
          [
            {
              "node": "Kill Switch + Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kill Switch + Prep": {
        "main": [
          [
            {
              "node": "Kill Switch Active?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kill Switch Active?": {
        "main": [
          [
            {
              "node": "Fetch Recent Metrics",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Emit Kill Switch Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Recent Metrics": {
        "main": [
          [
            {
              "node": "Calculate SLO Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate SLO Metrics": {
        "main": [
          [
            {
              "node": "SLO Breached?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SLO Breached?": {
        "main": [
          [
            {
              "node": "Build Healthy Robot Run",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Breach Robot Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Build Error Robot Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Healthy Robot Run": {
        "main": [
          [
            {
              "node": "POST Healthy Robot Run ? Orchestrator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST Healthy Robot Run ? Orchestrator": {
        "main": [
          [
            {
              "node": "Emit Healthy Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Breach Robot Run": {
        "main": [
          [
            {
              "node": "POST Breach Robot Run ? Orchestrator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST Breach Robot Run ? Orchestrator": {
        "main": [
          [
            {
              "node": "Emit Breach Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Error Robot Run": {
        "main": [
          [
            {
              "node": "POST Error Robot Run ? Orchestrator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST Error Robot Run ? Orchestrator": {
        "main": [
          [
            {
              "node": "Emit Failure Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Tonio tonioswayz32@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-13T04:08:36.457Z",
        "id": 1099,
        "workflowId": "dRR36XPA6KuQfL0T",
        "versionId": "10eb9168-a5e6-45aa-9246-5b4cb8862fd5",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-13T05:43:59.550Z",
        "id": 1110,
        "workflowId": "dRR36XPA6KuQfL0T",
        "versionId": "10eb9168-a5e6-45aa-9246-5b4cb8862fd5",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-13T05:43:59.596Z",
        "id": 1111,
        "workflowId": "dRR36XPA6KuQfL0T",
        "versionId": "10eb9168-a5e6-45aa-9246-5b4cb8862fd5",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ]
  }
}