workflows/n8n/Stripe-QBO_Reconciliation_—_Weekly_Sunday_1ekOKUNgKYC583c3.json
{
  "updatedAt": "2026-03-05T02:02:30.983Z",
  "createdAt": "2026-02-16T13:48:31.562Z",
  "id": "1ekOKUNgKYC583c3",
  "name": "Stripe-QBO Reconciliation \u2014 Weekly Sunday",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 0,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Sunday 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const enabled = $env.N8N_WORKFLOW_RECONCILIATION_ENABLED;\nif (enabled === 'false' || enabled === '0') {\n  return [{ json: { killed: true, reason: 'kill_switch_disabled' } }];\n}\nconst requestId = 'ops-reconciliation-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = 'n8n-reconciliation-' + new Date().toISOString().slice(0, 10);\nconst crypto = require('crypto');\nconst payloadHash = crypto.createHash('sha256').update(JSON.stringify({ action: 'ops.stripe_qbo_reconciliation', date: new Date().toISOString().slice(0, 10) })).digest('hex');\nconst idempotencyKey = crypto.createHash('sha256').update(requestId + 'ops.stripe_qbo_reconciliation' + payloadHash).digest('hex');\nreturn [{ json: { killed: false, requestId, correlationId, idempotencyKey, timestamp: new Date().toISOString() } }];"
      },
      "id": "kill-switch-and-prep",
      "name": "Kill Switch + Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.killed }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-killed",
      "name": "Kill Switch Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/finance_events?select=*&provider=eq.stripe&event_type=eq.payment&created_at=gte.{{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}&order=created_at.desc",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 1000,
            "retryIntervalBackoff": true
          }
        }
      },
      "id": "fetch-stripe-events",
      "name": "Fetch Stripe Payments (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/finance_events?select=*&provider=eq.quickbooks&event_type=eq.payment&created_at=gte.{{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}&order=created_at.desc",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "retry": {
            "maxRetries": 3,
            "retryInterval": 1000,
            "retryIntervalBackoff": true
          }
        }
      },
      "id": "fetch-qbo-events",
      "name": "Fetch QBO Payments (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        500
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "combineBySql": {
          "query": "SELECT * FROM input1 LEFT JOIN input2 ON input1.correlation_id = input2.correlation_id WHERE input2.correlation_id IS NULL"
        }
      },
      "id": "merge-compare",
      "name": "Find Unmatched",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-recon-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SUCCEEDED', correlation_id: $('Kill Switch + Prep').item.json.correlationId, actor_type: 'SYSTEM', actor_id: 'n8n-reconciliation', action: { action_type: 'ops.stripe_qbo_reconciliation', risk_tier: 'green', unmatched_count: $input.all().length, period: '7d' }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-receipt",
      "name": "Emit Recon Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-recon-killed-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SKIPPED', correlation_id: 'n8n-reconciliation-killed-' + new Date().toISOString().slice(0, 10), actor_type: 'SYSTEM', actor_id: 'n8n-reconciliation', action: { action_type: 'ops.stripe_qbo_reconciliation', reason: 'kill_switch_disabled' }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-receipt-killed",
      "name": "Emit Kill Switch Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        150
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        440,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-recon-fail-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'FAILED', correlation_id: 'n8n-reconciliation', actor_type: 'SYSTEM', actor_id: 'n8n-reconciliation', action: { action_type: 'ops.stripe_qbo_reconciliation' }, result: { error_message: $json.message || 'Reconciliation failed' }, created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "emit-failure-receipt",
      "name": "Emit Failure Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        700
      ]
    }
  ],
  "connections": {
    "Weekly Sunday 6am": {
      "main": [
        [
          {
            "node": "Kill Switch + Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kill Switch + Prep": {
      "main": [
        [
          {
            "node": "Kill Switch Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kill Switch Active?": {
      "main": [
        [
          {
            "node": "Fetch Stripe Payments (7d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch QBO Payments (7d)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emit Kill Switch Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stripe Payments (7d)": {
      "main": [
        [
          {
            "node": "Find Unmatched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch QBO Payments (7d)": {
      "main": [
        [
          {
            "node": "Find Unmatched",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find Unmatched": {
      "main": [
        [
          {
            "node": "Emit Recon Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Emit Failure Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Weekly Sunday 6am": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
  "activeVersionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
  "versionCounter": 85,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-16T13:48:31.562Z",
      "createdAt": "2026-02-16T13:48:31.562Z",
      "role": "workflow:owner",
      "workflowId": "1ekOKUNgKYC583c3",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-19T03:47:39.270Z",
    "createdAt": "2026-02-19T03:47:39.270Z",
    "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
    "workflowId": "1ekOKUNgKYC583c3",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtDay": 0,
                "triggerAtHour": 6
              }
            ]
          }
        },
        "id": "cron-trigger",
        "name": "Weekly Sunday 6am",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          220,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const enabled = $env.N8N_WORKFLOW_RECONCILIATION_ENABLED;\nif (enabled === 'false' || enabled === '0') {\n  return [{ json: { killed: true, reason: 'kill_switch_disabled' } }];\n}\nconst requestId = 'ops-reconciliation-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = 'n8n-reconciliation-' + new Date().toISOString().slice(0, 10);\nconst crypto = require('crypto');\nconst payloadHash = crypto.createHash('sha256').update(JSON.stringify({ action: 'ops.stripe_qbo_reconciliation', date: new Date().toISOString().slice(0, 10) })).digest('hex');\nconst idempotencyKey = crypto.createHash('sha256').update(requestId + 'ops.stripe_qbo_reconciliation' + payloadHash).digest('hex');\nreturn [{ json: { killed: false, requestId, correlationId, idempotencyKey, timestamp: new Date().toISOString() } }];"
        },
        "id": "kill-switch-and-prep",
        "name": "Kill Switch + Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.killed }}",
                "operation": "equals",
                "value2": "true"
              }
            ]
          }
        },
        "id": "check-killed",
        "name": "Kill Switch Active?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          660,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/finance_events?select=*&provider=eq.stripe&event_type=eq.payment&created_at=gte.{{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}&order=created_at.desc",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "options": {
            "timeout": 15000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 1000,
              "retryIntervalBackoff": true
            }
          }
        },
        "id": "fetch-stripe-events",
        "name": "Fetch Stripe Payments (7d)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/finance_events?select=*&provider=eq.quickbooks&event_type=eq.payment&created_at=gte.{{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}&order=created_at.desc",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "options": {
            "timeout": 15000,
            "retry": {
              "maxRetries": 3,
              "retryInterval": 1000,
              "retryIntervalBackoff": true
            }
          }
        },
        "id": "fetch-qbo-events",
        "name": "Fetch QBO Payments (7d)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          500
        ]
      },
      {
        "parameters": {
          "mode": "combineBySql",
          "combineBySql": {
            "query": "SELECT * FROM input1 LEFT JOIN input2 ON input1.correlation_id = input2.correlation_id WHERE input2.correlation_id IS NULL"
          }
        },
        "id": "merge-compare",
        "name": "Find Unmatched",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1100,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-recon-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SUCCEEDED', correlation_id: $('Kill Switch + Prep').item.json.correlationId, actor_type: 'SYSTEM', actor_id: 'n8n-reconciliation', action: { action_type: 'ops.stripe_qbo_reconciliation', risk_tier: 'green', unmatched_count: $input.all().length, period: '7d' }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-receipt",
        "name": "Emit Recon Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1320,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-recon-killed-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'SKIPPED', correlation_id: 'n8n-reconciliation-killed-' + new Date().toISOString().slice(0, 10), actor_type: 'SYSTEM', actor_id: 'n8n-reconciliation', action: { action_type: 'ops.stripe_qbo_reconciliation', reason: 'kill_switch_disabled' }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-receipt-killed",
        "name": "Emit Kill Switch Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          150
        ]
      },
      {
        "parameters": {},
        "id": "error-trigger",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          440,
          700
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/receipts",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ receipt_id: 'n8n-recon-fail-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8), suite_id: ($env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), tenant_id: 'system', office_id: ($env.DEFAULT_OFFICE_ID || $env.DEFAULT_SUITE_ID || 'ffffffff-0000-0000-0000-system000000'), receipt_type: 'n8n_ops', status: 'FAILED', correlation_id: 'n8n-reconciliation', actor_type: 'SYSTEM', actor_id: 'n8n-reconciliation', action: { action_type: 'ops.stripe_qbo_reconciliation' }, result: { error_message: $json.message || 'Reconciliation failed' }, created_at: new Date().toISOString() }) }}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "emit-failure-receipt",
        "name": "Emit Failure Receipt",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          700
        ]
      }
    ],
    "connections": {
      "Weekly Sunday 6am": {
        "main": [
          [
            {
              "node": "Kill Switch + Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kill Switch + Prep": {
        "main": [
          [
            {
              "node": "Kill Switch Active?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kill Switch Active?": {
        "main": [
          [
            {
              "node": "Fetch Stripe Payments (7d)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch QBO Payments (7d)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Emit Kill Switch Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Stripe Payments (7d)": {
        "main": [
          [
            {
              "node": "Find Unmatched",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch QBO Payments (7d)": {
        "main": [
          [
            {
              "node": "Find Unmatched",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Find Unmatched": {
        "main": [
          [
            {
              "node": "Emit Recon Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Emit Failure Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Admin Aspire",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-04T22:31:44.121Z",
        "id": 542,
        "workflowId": "1ekOKUNgKYC583c3",
        "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T00:34:30.683Z",
        "id": 595,
        "workflowId": "1ekOKUNgKYC583c3",
        "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T00:34:32.054Z",
        "id": 613,
        "workflowId": "1ekOKUNgKYC583c3",
        "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T01:47:05.534Z",
        "id": 631,
        "workflowId": "1ekOKUNgKYC583c3",
        "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T01:47:06.811Z",
        "id": 649,
        "workflowId": "1ekOKUNgKYC583c3",
        "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-02-19T03:47:39.296Z",
        "id": 405,
        "workflowId": "1ekOKUNgKYC583c3",
        "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T02:02:31.003Z",
        "id": 667,
        "workflowId": "1ekOKUNgKYC583c3",
        "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      },
      {
        "createdAt": "2026-03-05T02:02:32.467Z",
        "id": 685,
        "workflowId": "1ekOKUNgKYC583c3",
        "versionId": "a2b15497-46b2-4a7c-85f7-6d7c151eeb52",
        "event": "activated",
        "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938"
      }
    ]
  }
}