workflows/n8n/Weekly_Deep_Research__5F__zmjj1mqjSbeVcWZg.json
{
  "updatedAt": "2026-03-19T06:26:12.133Z",
  "createdAt": "2026-03-15T02:16:42.670Z",
  "id": "zmjj1mqjSbeVcWZg",
  "name": "Weekly Deep Research (5F)",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "cron-sat-8am",
      "name": "Saturday 8AM EST (13:00 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * 6"
            }
          ]
        }
      }
    },
    {
      "id": "code-tavily-budget",
      "name": "Tavily Budget Check (60/mo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst now = new Date();\nconst currentMonth = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, '0')}`;\n\nif (staticData.tavilyMonth !== currentMonth) {\n  staticData.tavilyMonth = currentMonth;\n  staticData.tavilyCallCount = 0;\n}\n\nconst tavilyCallCount = staticData.tavilyCallCount || 0;\nconst tavilyLimit = 60;\nconst skipTavily = tavilyCallCount >= tavilyLimit;\n\nreturn [{\n  json: {\n    skipTavily,\n    tavilyCallCount,\n    tavilyLimit,\n    tavilyRemaining: tavilyLimit - tavilyCallCount,\n    currentMonth,\n    timestamp: now.toISOString()\n  }\n}];"
      }
    },
    {
      "id": "if-tavily-budget",
      "name": "Tavily Budget Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "tavily-budget-check",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.tavilyRemaining }}",
              "rightValue": 0
            }
          ]
        }
      }
    },
    {
      "id": "http-tavily-1",
      "name": "Tavily: Novel Quant Futures Strategy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        750,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"api_key\": \"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\", \"query\": \"novel futures trading strategy quantitative\", \"search_depth\": \"advanced\", \"include_raw_content\": true, \"max_results\": 5}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "id": "http-tavily-2",
      "name": "Tavily: Mean Reversion Volatility",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        750,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"api_key\": \"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\", \"query\": \"mean reversion volatility expansion futures edge\", \"search_depth\": \"advanced\", \"include_raw_content\": true, \"max_results\": 5}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "id": "http-tavily-3",
      "name": "Tavily: Algo Trading Prop 2026",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        750,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"api_key\": \"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\", \"query\": \"algorithmic trading prop firm strategy 2026\", \"search_depth\": \"advanced\", \"include_raw_content\": true, \"max_results\": 5}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "id": "http-arxiv",
      "name": "arXiv: Quantitative Finance Papers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        750,
        850
      ],
      "parameters": {
        "method": "GET",
        "url": "http://export.arxiv.org/api/query?search_query=cat:q-fin.TR+OR+cat:q-fin.PM&sortBy=submittedDate&max_results=10",
        "options": {
          "timeout": 20000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "id": "code-parse-arxiv",
      "name": "Parse arXiv Atom XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        850
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst xmlText = item.json.data || item.json || '';\nconst xmlStr = typeof xmlText === 'string' ? xmlText : JSON.stringify(xmlText);\n\nconst papers = [];\nconst thirtyDaysAgo = new Date(Date.now() - 30 * 24 * 60 * 60 * 1000);\n\n// Simple XML parsing for Atom feed entries\nconst entryRegex = /<entry>(.*?)<\\/entry>/gs;\nlet match;\nwhile ((match = entryRegex.exec(xmlStr)) !== null) {\n  const entry = match[1];\n  const title = (entry.match(/<title[^>]*>(.*?)<\\/title>/s) || [])[1]?.trim().replace(/\\s+/g, ' ') || '';\n  const summary = (entry.match(/<summary[^>]*>(.*?)<\\/summary>/s) || [])[1]?.trim().replace(/\\s+/g, ' ') || '';\n  const published = (entry.match(/<published>(.*?)<\\/published>/) || [])[1] || '';\n  const link = (entry.match(/<id>(.*?)<\\/id>/) || [])[1] || '';\n\n  if (published && new Date(published) >= thirtyDaysAgo) {\n    papers.push({\n      source: 'arxiv',\n      title,\n      description: summary.substring(0, 400),\n      url: link,\n      published\n    });\n  }\n}\n\nreturn [{ json: { papers, count: papers.length } }];"
      }
    },
    {
      "id": "merge-tavily",
      "name": "Merge Tavily Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "code-normalize-all",
      "name": "Normalize + Dedup All Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        600
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst ideas = [];\nconst seenUrls = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n\n  // Parse Tavily results\n  if (data.results && Array.isArray(data.results)) {\n    for (const r of data.results) {\n      const url = r.url || '';\n      if (url && !seenUrls.has(url)) {\n        seenUrls.add(url);\n        ideas.push({\n          source: 'tavily',\n          title: r.title || '',\n          description: (r.content || r.raw_content || '').substring(0, 400),\n          url,\n          raw_content_length: (r.raw_content || '').length\n        });\n      }\n    }\n  }\n\n  // Parse arXiv results\n  if (data.papers && Array.isArray(data.papers)) {\n    for (const p of data.papers) {\n      if (p.url && !seenUrls.has(p.url)) {\n        seenUrls.add(p.url);\n        ideas.push(p);\n      }\n    }\n  }\n}\n\nreturn [{ json: { ideas, count: ideas.length } }];"
      }
    },
    {
      "id": "if-any-ideas",
      "name": "Any Ideas Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1500,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ideas-check-5f",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.count }}",
              "rightValue": 0
            }
          ]
        }
      }
    },
    {
      "id": "http-fingerprints-5f",
      "name": "Fetch Scout Fingerprints (30d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1750,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:4000/api/journal/scout-fingerprints?days=30",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "id": "code-cross-dedup-5f",
      "name": "Cross-Run Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nlet ideas = [];\nlet fingerprints = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.ideas && Array.isArray(d.ideas)) ideas = d.ideas;\n  if (d.fingerprints && Array.isArray(d.fingerprints)) fingerprints = d.fingerprints;\n  if (d.url && d.title && !d.ideas) fingerprints.push(d);\n}\n\nif (ideas.length === 0) {\n  try { ideas = $('Any Ideas Found?').first().json.ideas || []; } catch(e) { ideas = []; }\n}\n\nconst existingUrls = new Set(fingerprints.map(f => f.url).filter(Boolean));\nconst existingTitles = new Set(fingerprints.map(f => (f.title || '').toLowerCase()).filter(t => t.length > 0));\n\nconst novel = ideas.filter(idea => {\n  if (existingUrls.has(idea.url)) return false;\n  if (existingTitles.has((idea.title || '').toLowerCase())) return false;\n  return true;\n});\n\nreturn [{ json: { ideas: novel, count: novel.length, dedupedOut: ideas.length - novel.length } }];"
      }
    },
    {
      "id": "if-novel-5f",
      "name": "Novel Ideas Remain?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2250,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "novel-check-5f",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.count }}",
              "rightValue": 0
            }
          ]
        }
      }
    },
    {
      "id": "http-ollama-deep",
      "name": "Ollama Deep Analysis (qwen3-coder)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2500,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen3-coder:30b', prompt: 'You are a senior quantitative trading researcher. For each research idea below, provide a JSON array with fields: title, novelty_score (1-10), feasibility_score (1-10), analysis (3 sentences about practical applicability to futures trading). Ideas:\\n' + JSON.stringify($json.ideas.map(function(i) { return { title: i.title, description: i.description, source: i.source }; })) + '\\n\\nRespond ONLY with a valid JSON array.', stream: false }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "id": "code-deep-filter",
      "name": "Filter: Novelty>=5 AND Feasibility>=6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst ollamaResponse = items[0]?.json;\n\nlet originalIdeas = [];\ntry { originalIdeas = $('Cross-Run Dedup').first().json.ideas || []; } catch(e) { originalIdeas = []; }\n\nlet scored = [];\ntry {\n  const responseText = ollamaResponse?.response || '';\n  const jsonMatch = responseText.match(/\\[[\\s\\S]*\\]/);\n  if (jsonMatch) scored = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  scored = originalIdeas.map(i => ({ title: i.title, novelty_score: 6, feasibility_score: 7, analysis: i.description || '' }));\n}\n\nconst enriched = [];\nfor (let i = 0; i < originalIdeas.length; i++) {\n  const orig = originalIdeas[i];\n  const score = scored.find(s => s.title && orig.title && s.title.toLowerCase().includes(orig.title.substring(0, 20).toLowerCase())) || scored[i] || {};\n  const novelty = score.novelty_score || 5;\n  const feasibility = score.feasibility_score || 5;\n  if (novelty >= 5 && feasibility >= 6) {\n    enriched.push({ ...orig, novelty_score: novelty, feasibility_score: feasibility, analysis: score.analysis || '', source_quality: orig.source === 'tavily' ? 'deep_search' : orig.source === 'arxiv' ? 'academic' : 'web', confidence_score: Math.min((novelty + feasibility) / 20, 1.0) });\n  }\n}\n\nreturn [{ json: { ideas: enriched, count: enriched.length } }];"
      }
    },
    {
      "id": "if-filtered-5f",
      "name": "Passing Ideas Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3000,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict",
            "rightValue": ""
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "filtered-check-5f",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.count }}",
              "rightValue": 0
            }
          ]
        }
      }
    },
    {
      "id": "http-post-ideas-5f",
      "name": "POST Scout Ideas to Forge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3250,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/agent/scout-ideas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ideas: $json.ideas }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "id": "http-discord-weekly",
      "name": "Discord: Weekly Research Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3500,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_SCOUT || 'https://discord.com/api/webhooks/PLACEHOLDER' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: [{ title: 'Weekly Deep Research Report (5F)', color: 10181046, description: '**Sources checked:** Tavily (3 queries), arXiv (q-fin)\\n**Ideas found:** ' + $json.count + '\\n\\n' + ($json.ideas || []).slice(0, 5).map(function(i, idx) { return '**' + (idx+1) + '. ' + i.title + '**\\nNovelty: ' + i.novelty_score + '/10 | Feasibility: ' + i.feasibility_score + '/10\\n' + (i.analysis || '').substring(0, 150); }).join('\\n\\n'), footer: { text: 'Trading Forge Scout 5F | ' + new Date().toISOString().split('T')[0] } }] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    },
    {
      "id": "code-budget-report",
      "name": "Update Tavily Budget + Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3750,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nlet skipTavily = false;\ntry { skipTavily = $('Tavily Budget Check (60/mo)').first().json.skipTavily; } catch(e) { skipTavily = false; }\n\nif (!skipTavily) staticData.tavilyCallCount = (staticData.tavilyCallCount || 0) + 3;\n\nconst ideasPosted = $json.ideas ? $json.ideas.length : 0;\n\nreturn [{ json: { status: 'complete', tavilyCallsUsed: staticData.tavilyCallCount || 0, tavilyRemaining: 60 - (staticData.tavilyCallCount || 0), ideasPosted, timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "code-no-ideas-5f",
      "name": "Log: No New Ideas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        800
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { status: 'no_ideas', message: 'No new ideas found this week.', timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "code-budget-skip-5f",
      "name": "Log: Tavily Budget Exhausted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        50
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { status: 'tavily_budget_exhausted', message: 'Tavily budget exhausted. Running arXiv-only scan.', tavilyCallCount: $json.tavilyCallCount, timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "error-trigger-5f",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1100
      ],
      "parameters": {}
    },
    {
      "id": "http-error-5f",
      "name": "Discord: Research Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        1100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_SCOUT || 'https://discord.com/api/webhooks/PLACEHOLDER' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: [{ title: 'Research 5F Error', color: 15158332, description: String($json.execution ? ($json.execution.error ? $json.execution.error.message : 'Unknown error') : 'Unknown error'), footer: { text: 'Execution: ' + String($json.execution ? $json.execution.id : 'N/A') } }] }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "continueOnFail": true
    }
  ],
  "connections": {
    "Saturday 8AM EST (13:00 UTC)": {
      "main": [
        [
          {
            "node": "Tavily Budget Check (60/mo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Budget Check (60/mo)": {
      "main": [
        [
          {
            "node": "Tavily Budget Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Budget Available?": {
      "main": [
        [
          {
            "node": "Tavily: Novel Quant Futures Strategy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tavily: Mean Reversion Volatility",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tavily: Algo Trading Prop 2026",
            "type": "main",
            "index": 0
          },
          {
            "node": "arXiv: Quantitative Finance Papers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: Tavily Budget Exhausted",
            "type": "main",
            "index": 0
          },
          {
            "node": "arXiv: Quantitative Finance Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily: Novel Quant Futures Strategy": {
      "main": [
        [
          {
            "node": "Merge Tavily Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily: Mean Reversion Volatility": {
      "main": [
        [
          {
            "node": "Merge Tavily Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily: Algo Trading Prop 2026": {
      "main": [
        [
          {
            "node": "Merge Tavily Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "arXiv: Quantitative Finance Papers": {
      "main": [
        [
          {
            "node": "Parse arXiv Atom XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Tavily Results": {
      "main": [
        [
          {
            "node": "Normalize + Dedup All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse arXiv Atom XML": {
      "main": [
        [
          {
            "node": "Normalize + Dedup All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Dedup All Sources": {
      "main": [
        [
          {
            "node": "Any Ideas Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Ideas Found?": {
      "main": [
        [
          {
            "node": "Fetch Scout Fingerprints (30d)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: No New Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scout Fingerprints (30d)": {
      "main": [
        [
          {
            "node": "Cross-Run Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cross-Run Dedup": {
      "main": [
        [
          {
            "node": "Novel Ideas Remain?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novel Ideas Remain?": {
      "main": [
        [
          {
            "node": "Ollama Deep Analysis (qwen3-coder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: No New Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Deep Analysis (qwen3-coder)": {
      "main": [
        [
          {
            "node": "Filter: Novelty>=5 AND Feasibility>=6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Novelty>=5 AND Feasibility>=6": {
      "main": [
        [
          {
            "node": "Passing Ideas Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passing Ideas Exist?": {
      "main": [
        [
          {
            "node": "POST Scout Ideas to Forge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: No New Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Scout Ideas to Forge": {
      "main": [
        [
          {
            "node": "Discord: Weekly Research Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord: Weekly Research Summary": {
      "main": [
        [
          {
            "node": "Update Tavily Budget + Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Discord: Research Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Saturday 8AM EST (13:00 UTC)": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "a823de69-aa5c-4d23-81e5-a030f82308fb",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-15T02:16:42.670Z",
      "createdAt": "2026-03-15T02:16:42.670Z",
      "role": "workflow:owner",
      "workflowId": "zmjj1mqjSbeVcWZg",
      "projectId": "l9zgLNMKv7CjloiW",
      "project": {
        "updatedAt": "2026-02-19T03:51:50.171Z",
        "createdAt": "2026-02-12T09:44:05.561Z",
        "id": "l9zgLNMKv7CjloiW",
        "name": "Tonio tonioswayz32@gmail.com <tonioswayz32@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
        "projectRelations": [
          {
            "updatedAt": "2026-02-12T09:44:05.561Z",
            "createdAt": "2026-02-12T09:44:05.561Z",
            "userId": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
            "projectId": "l9zgLNMKv7CjloiW",
            "user": {
              "updatedAt": "2026-03-20T05:10:41.391Z",
              "createdAt": "2026-02-12T09:44:05.126Z",
              "id": "4fd79e89-3017-4dbe-8cec-676fcab6f938",
              "email": "tonioswayz32@gmail.com",
              "firstName": "Tonio",
              "lastName": "tonioswayz32@gmail.com",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "aDeQEKoBawhGdUtE",
                "userActivatedAt": 1771445749501,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
